
/* //////結帳步驟// */
.Checkout_Steps{
    margin-top: 140px;
}


.Checkout_Step_warp{
    position: relative;
    margin: 70px auto 80px auto;
    width: 500px;
    min-height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Checkout_Step_line{
    position: absolute;
    z-index: 20;
    left: 0;
    width: 50%;
    height: 2px;
    margin-top: -40px;
    background-color: rgba(23, 34, 61, 0.75);

}
.Checkout_Step_line_grey{
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -40px;
    background-color: #dedede
}

.checkout_step{
    position: relative; 
    z-index: 21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.checkout_step_number{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--dark_blue);
    margin-bottom: 10px;
    color:white;
    font-size: 1.8rem;
}

.checkout_step_name p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #404e80;


}

.step01{
    transform: translate(-5px);
}
.step03{
    transform: translate(5px);
}


@media (max-width: 992px) {


    .Checkout_Steps{
        margin-top: 50px;
        
    }


}
@media (max-width: 480px) {

    .Checkout_Steps{
        margin-top: 50px;
      
    }


    .Checkout_Step_warp{
        position: relative;
        margin: 70px auto 50px auto;
        width: 250px;
        min-height: 60px;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


/* 會員登入 */
.checkout_login_warp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    margin:0 auto 60px auto;
   
}

.checkout_login_text p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.checkout_login_text span{
    cursor: pointer;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding-bottom: 2px;
    margin: 0 5px ;
}

.checkout_login_text span:hover{
    transition: 0.8s;
    color: red;
    border-bottom: 1px solid red;
    
}

.check_logbtn{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: black;
    font-size: 2rem;
    color:white;
    transition: 0.8s;
}

.check_logbtn:hover{
    background-color: var(--light_blue);
}

@media (max-width: 992px) {


}

@media (max-width: 480px) {

    .checkout_login_warp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        min-height: 50px;
        margin:0 auto 60px auto;

       
    }

    .checkout_login_text{
        margin-bottom: 20px;
    }


    .check_logbtn{
        width: 150px;
        height: 50px;
        border-radius: 8px;
        background-color: black;
        font-size: 2rem;
        color:white;
    }

}

/* 第一階端購物車 */


/* 第一階端購物車商品 */
.Cart_items_top_warp{
    min-height: 60px;
    padding: 0px 20px;
    display: flex;
    justify-items: center;
    border-top: solid 1px rgba(23, 34, 61, 0.2);

}


.item_top{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    
}

.item_top h2{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.item_head_top{
    width: 20%;
    height: 100%;
    
}

.item_top_detail{
    display: flex;
    width: 80%;
    height: 100%;
}

.item_name_top{
    width: 46%;
    height: 100%;

}

.item_count_top{
    width: 18%;
    height: 100%;
   

}
.item_prirce_top{
    width: 18%;
    height: 100%;


}

.item_delete_top{
    width: 18%;
    height: 100%;
  
}

@media (max-width: 992px) {

    .Cart_items_top_warp{
        min-height: 50px;
        padding: 0px 10px;
        
    }
}

@media (max-width: 480px) {

    .Cart_items_top_warp{
        display: none;
        
    }
    

}


.Cart_items_empty{
    display: none;
    justify-items: center;
    align-items: center;
    height:300px;
    width:100%;
    
}

.Cart_items_empty p{
    font-size: 1.6rem;
    color:black;
    margin: 0 auto;
}

.Cart_items_content{
    width: 100%;
    min-height: 300px;
    margin: 0 0 60px 0px;
}

/* ////購物車規格///// */
.Items_warps{
    margin-bottom: 60px;
}

.Items_title{
    display: flex;
    padding: 0 20px; 
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.1);
}
.Items_title_name{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 100%;

    
}

.Item_check{
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.Items_title_name h2{
    margin-top: 2px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.Items_list{
    padding: 0 20px; 
    height: 160px;
    display: flex;
    border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
}

.Items_list_content{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.Items_list_head{
    width: 20%;
    height: 100%;

   
}

.Items_list_detail{
    display: flex;
    width: 80%;

}

.Items_name{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 46%;
    padding-right: 120px;
 

}

.Items_list_detail_tool{
    display: flex;
    width: 54%;
   

}

.Items_list_count{
    width: 33.3%;
    height: 100%;
   

  
}
.Items_list_price{
    width: 33.3%;
    height: 100%;
   
    
}
.Items_list_delete{
    width: 33.3%;
    height: 100%;

   
   
}

.Items_pic{
    min-width: 120px;
    width: 120px;
    height: 120px;
    background-color: #dedede;
}



.Items_type{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding:0px 10px;
    font-size: 1.6rem;
}

.Items_name h3{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.Items_list_price p{
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Items_list_price p::before{
    content: 'NT ';
   
}

.Items_list_delete{
    justify-content: center;
}

.Items_list_delete .fa-trash-alt{
    cursor: pointer;
    font-size: 20px;
    float: right;
    color:rgba(23, 34, 61, 0.5);
}

.Items_list_delete .fa-trash-alt:hover{
    transition: 0.5s;
    color:var( --dark_red);

    
}

@media (max-width: 992px) {

    .Item_check{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .Items_title{
        display: flex;
        padding: 0 10px; 
        width: 100%;
        height: 60px;
        background-color: rgba(23, 34, 61, 0.1);
    }


    .Items_list{
        padding: 0 10px; 
        height: 160px;
        display: flex;
        border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
        /* max-width: 1100px; */
    }

    .Items_list_head{
        width: 24%;
        height: 100%;
      
       
    }
    
    .Items_list_detail{
        display: flex;
        width: 76%;
        
    }
    
    .Items_name{
        width: 46%;
        padding-right: 0px;

    
    }

    

    .Items_pic{
        min-width: 100px;
        width: 100px;
        height: 100px;
        background-color: #dedede;
    }

    .Items_type{
        margin-top: 0px;
        width: 90%;
        height: 30px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.31);
        padding:0px 10px;
        font-size: 1.6rem;
    }
    
    
    
}

@media (max-width: 480px) {

    .Cart_items_content{
        width: 100%;
        min-height: 300px;
        margin: 0 0 40px 0px;
    }

    .Item_check{
        min-width: 15px;
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }


    .Items_title{
        display: flex;
        padding: 0 0px; 
        width: 100%;
        height: 60px;
        background-color: rgba(23, 34, 61, 0.1);
    }




    .Items_list{
        padding: 0 0px; 
        height: 160px;
        display: flex;
        border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
        /* max-width: 1100px; */
    }

    .Items_list_head{
        width: 35%;
        height: 100%;
      
       
    }

    .Items_list_detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;

    }

    .Items_name{
        width: 100%;
        padding-right: 0px;
      
    
    }

    .Items_list_detail_tool{
        display: flex;
        width: 100%;

    
    }

    .Items_list_count{
        width: 45%;
        height: 100%;
       justify-content: center;
    
    
      
    }
    .Items_list_price{
        width: 45%;
        height: 100%;
        justify-content: center;

        
    }
    .Items_list_delete{
        width: 10%;
        height: 100%;

       
       
    }
    


    .Items_pic{
        min-width: 90px;
        width: 90px;
        height: 90px;
        background-color: #dedede;
    }

    .Items_type{
        margin-top: 0px;
        width: 90%;
        height: 30px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.31);
        padding:0px 10px;
        font-size: 1.6rem;
    }
    

}



/* 生鮮食材 */


/* 客製鮮魚箱 */
.fishbox_items_list{
    border-bottom:  solid 1px transparent;
}

/* 第一階段購物車總金額 */
.Cart_total_content{
    display: flex;
}
.Cart_total{
    padding-bottom: 100px;
}



.Cart_total_caution li{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.Cart_total_caution li:nth-of-type(1){
    color:#ff2d2d;
}

.Cart_total_caution li::before{
    content: '- ';

}

/* ///// */

.Cart_total_warp{
    border: solid 1px rgba(23, 34, 61, 0.5);
    margin: 0 auto;

}

.cart_fee_total_count{
    padding: 20px 50px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
   
}
.total_sum{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;

}
.total_sum p:nth-of-type(2)::before {
     content: 'NT ';
}

.total_fee{
    display: flex;
    justify-content: space-between;
}


.total_fee .fa-exclamation-circle{
    font-size: 20px;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.31);
    cursor: pointer;
    
}

.total_fee p:nth-of-type(2){
    color:#ff2d2d;
}

.total_fee p:nth-of-type(2)::before {
    content: '- NT ';
    
}
.total_coupon_text{
    margin-top: 30px;
}
.total_coupon_text p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.cart_fee_checkout{
    padding: 30px 50px;
}

.total_money{
    display: flex;
    justify-content: space-between;
    
}
.total_money p:nth-of-type(2)::before {
    content: 'NT ';
    
}

.cart_checkout_btn{
    margin-top: 60px;
    width: 100%;
    height: 50px;
    background-color: #5aa700;
    border-radius: 6px;
    font-size: 2rem;
    color:white;

}


@media (max-width: 992px) {

    .Cart_total_caution ul{
        padding-right: 20px;
    }

 

    .cart_fee_total_count{
        padding: 20px 15px;
        border-bottom: solid 1px rgba(23, 34, 61, 0.5);
       
    }
    
    .cart_fee_checkout{
        padding: 30px 15px;
    }
    
   
}


@media (max-width: 480px) {

    .Cart_total_content{
        display: flex;
        flex-direction: column-reverse;
    }

    .Cart_total{
        padding-bottom: 80px;
    }

    .Cart_total_warp{
        border: solid 1px rgba(23, 34, 61, 0.5);
        margin: 0px auto 40px auto;

    }





}

/*///////相關商品推薦/////// */

.Other_Product_Items{
    position: relative;
    background-color: rgba(23, 34, 61, 0.1);
    padding-top: 100px;
    padding-bottom: 60px;
    
    
}


.Other_Product_Items_title h1{
    
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;

}

.Items_categeroy_warp{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.item_type_warp{
    /* background-color: red; */
    width: 40%;
    min-width: 378px;
    height: 50px;
    border: solid 1px  rgba(23, 34, 61, 0.75);
    justify-content: space-evenly;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:var(--dark_blue);

    width: 25%;
    height: 100%;

}
.item_type:hover{
    transition: 0.3s;
    background-color:var(--dark_blue);
    color:white
}


.item_status_warp{
    /* background-color:red; */
    height: 50px;
    width: 30%;
    min-width: 283px;
    justify-content: space-evenly;
}

.item_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(56, 73, 130, 0.4);
    /* width: 33.33%; */
    height: 100%;
    border-bottom: 1px solid transparent;
    padding-top: 10px;
}
.item_status:hover{
    transition: 0.3s;
    border-bottom: 1px solid var(--dark_blue);
    color:var(--dark_blue);
}


.Other_Product_items_warp{
   
    opacity: 1
    /* transform: translateY(20px); */
}


  

  @media (max-width: 992px) {

    .Other_Product_Items{
        position: relative;
        background-color: rgba(23, 34, 61, 0.1);
        padding-top: 60px;
        
        
    }
    

}



