*{
    /* outline: solid var(--light_blue) 1px; */
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2; 
}

:root {
    font-size: 10px;
    --light_blue: rgba(0, 165, 255, 0.85);
    --dark_blue: #384982;
    --sea_blue: #abd5e3;
    --grey:  #c0c0c0;
    --dark_red: #a42021;
    
 
 }

 body a{
    color:inherit;
 }

 body a:hover {
    color:inherit;
    text-decoration: none;
}
 

p {
    font-size: 1.8rem;
    margin: 0px;
}



ul {
    color:inherit;
    text-decoration:none;
    margin-bottom: 0;
}

li{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}


img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
select {
    outline: none;
}

/* ///////////動畫////////// */
.Bounce{
    animation: Bounce 0.6s linear forwards;
}


@keyframes Bounce{


    from { transform: translate(0,  0px) ;}
 
    50%  { transform: translate(0, -10px) ;}

    to   { transform: translate(0, 0px)  ;}  



}

.RWD_open{
    transition: 0.3s;
    transform: translateX(200px);
    
}
.RWD_open_shoplist{
    transition: 0.5s;
    transform: translateX(-300px);
  
    
}

.button_blue{
    transition: 0.5s;
    color: var(--light_blue);
}

.minus {
   
    transform: rotate(-90deg);
    transition: transform ease 400ms;
}

.minus::after {

    transform: rotate(-90deg) ;
    transition: transform ease 400ms;
}

.answer_open{
    transition: 0.8s;
    height: 480px; 
    
}


.answer_open_RWD{
    transition: 0.8s;
    height: 450px; 
}


/* ///////更多按鈕///////// */

.more_btn{
    width: 320px;
    height: 60px;
    background-color: var(--dark_blue);
    border-radius: 30px;
    cursor: pointer;

    
}

.more_btn:hover{
    transition: 0.5s;
    background-color: var(--light_blue)
}

.more_btn p{
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 0 auto ;
    
}

@media (max-width: 992px) {

    .more_btn{
        width: 250px;
        height: 50px;
        background-color: var(--dark_blue);
        border-radius: 30px;
        cursor: pointer;
    
        
    }
    
    .more_btn:hover{
        transition: 0.5s;
        background-color: var(--light_blue)
    }
    
    .more_btn p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: white;
        margin: 0 auto ;
        
    }
    
}
@media (max-width: 480px) {

    .more_btn{
        width: 250px;
        height: 50px;
        background-color: var(--dark_blue);
        border-radius: 30px;
        cursor: pointer;
    
        
    }
    
    .more_btn:hover{
        transition: 0.5s;
        background-color: var(--light_blue)
    }
    
    .more_btn p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: white;
        margin: 0 auto ;
        
    }

    
    

}

/* ///////////商品外觀//////////////// */

.item{
   height: 400px;

}
.item_intro{
    cursor: pointer;
    position: relative;
    margin: 50px auto 0 auto;
    width: 90%;
    height: 80%;
    
}

.item_intro:hover{
    transition: 0.5s;
    box-shadow: 2px 6px 15px 0 rgba(173, 173, 173, 0.5);

}

.item_pic{
    border-top:solid 0.1px rgba(173, 173, 173, 0.5);
    border-right:solid 0.1px rgba(173, 173, 173, 0.5);
    border-left:solid 0.1px rgba(173, 173, 173, 0.5);
    width: 100%;
    height: 75%;
    overflow: hidden;
    

}

.item_pic img{
    height: 100%;
   
}
.item_title{
    padding: 0px 15px;
    background-color:white;
    border:solid 0.1px rgba(173, 173, 173, 0.5);
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.item_title h3{
    
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
   

 }

.add_btn{
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--light_blue);
    border-radius: 100%;
    top: 56%;
    right: 3%;
}

.add_btn .fa-cart-plus{
    position: absolute;
    color: white;
    font-size: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
    
    
 }

 .item_detail{

    width: 60%;
    text-align: center;
    margin: 15px auto 0 auto;
 
}

.item_detail p{
   
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  
  }
  
 .item_detail02{

    width: 60%;
    text-align: center;
    margin: 15px auto 0 auto;
 
}

.item_detail02 p{
   
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  
  }

.item_detail p:nth-of-type(1){
    color: #000000;
}
.item_detail p:nth-of-type(1)::before{
    content: 'NT ';
}

.item_detail p:nth-of-type(1)::after{
   
    content: ' / 公斤';
}

.item_detail02 p:nth-of-type(1){
    color: #000000;
}
.item_detail02 p:nth-of-type(1)::before{
    content: 'NT ';
}
.sold{
    display: none;
    color: rgba(0, 0, 0, 0.6)
    
}

@media (max-width: 992px) {

    .item{
        height: 350px;
     
     }
     
     .item_intro{
        cursor: pointer;
        position: relative;
        margin: 55px auto 0 auto;
        width: 90%;
        height: 80%;
        
    }

     .item_pic img{
         height: 100%;
        
     }
     .item_title{
         padding: 0px 10px;
         background-color:white;
         border:solid 0.1px rgba(173, 173, 173, 0.5);
         height: 25%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center
         
     }
     
     .item_title h3{
         
         font-size: 1.4rem;
         font-weight: 500;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
        
     
      }
    
    .add_btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--light_blue);
        border-radius: 100%;
        top: 52%;
        right: 3%;
        /* transform:  translateY(60px); */
    }
    
    .add_btn .fa-cart-plus{
        position: absolute;
        color: white;
        font-size: 2.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) 
        
        
     }
    
     .item_detail{
    
        width: 60%;
        text-align: center;
        margin: 15px auto 0 auto;
     
    }
    
    .item_detail p{
       
        font-size: 1.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        
    
      
      }

}

@media (max-width: 480px) {

    .item{
        height: 300px;
     
     }
     
     .item_intro{
        cursor: pointer;
        position: relative;
        margin: 55px auto 0 auto;
        width: 90%;
        height: 80%;
        
    }

     .item_pic img{
         height: 100%;
        
     }
     .item_title{
         padding: 0px 8px;
         background-color:white;
         border:solid 0.1px rgba(173, 173, 173, 0.5);
         height: 25%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         
     }
     
     .item_title h3{
         
         font-size: 1.4rem;
         font-weight: 500;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
        
     
      }
    
    .add_btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--light_blue);
        border-radius: 100%;
        top: 52%;
        right: 3%;
        /* transform:  translateY(60px); */
    }
    
    .add_btn .fa-cart-plus{
        position: absolute;
        color: white;
        font-size: 2.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) 
        
        
     }
    
     .item_detail{
    
        width: 60%;
        text-align: center;
        margin: 15px auto 0 auto;
     
    }
    
    .item_detail p{
       
        font-size: 1.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        
    
      
      }
      
}



/* ///////////文章外觀//////////////// */

.Blog_artical{
    max-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.Blog_artical_pic{
    overflow: hidden;
    width: 240px;
    height: 240px;
    background-color: #d8d8d8;
    cursor: pointer;
   
}

.Blog_artical_pic img{
    height: 100%;
    object-fit: cover;
  

}

.Blog_artical_title{
    cursor: pointer;
    margin-top: 5px;
    max-width: 240px;
    width: 90%;
    

}
.Blog_artical_title p{
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
}
.Blog_artical_title p:hover{
    transition: 0.8s;
    color: var(--light_blue);
}

.Blog_artical_author{
    margin: 2px 0px 2px 2px;
    width: 80%;
    display: flex;
    align-items: center;
   
}

.artical_author_pic{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

}

.artical_author_name{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #8c8c8c;
    transition: 0.8s;
    


}
.artical_author_name::before{
    content: '@';
}

.artical_author_name:hover{
    color: var(--light_blue)
}

.Blog_artical_tags{
    display: flex;
    min-width: 240px

}

.artical_tag{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    max-height: 25px;
  
    
}
.artical_tag_outline{
    cursor: pointer;
    min-width: 64px;
    width: 80%;
    height: 25px;
    border-radius: 13px;
    border: solid 1px var(--sea_blue);
    display: flex;
    justify-content: center;
    transition: 0.8s;
    
}

.artical_tag_outline p{
    margin:-1px 5px 0 5px;
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: var(--sea_blue);
    transition: 0.8s;
      
  
}


@media (max-width: 992px) {

    .Blog_artical_pic{
        width: 150px;
        height: 150px;
       
    }
    .Blog_artical{
        align-items: flex-start;
        max-height: 320px;
    }


    .Blog_artical_title{
        margin-top: 5px;
        max-width: 150px;
        width: 90%;
       
    }

    .Blog_artical_title p{
        font-size: 1.4rem;
    }

    .Blog_artical_author{
        margin-top: 3px;
        width: 95%;
        display: flex;
        align-items: center;
    }
    
   
    .artical_author_pic{
        width: 20px;
        height: 20px;
        border-radius: 100%;
       
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    
    }

    .Blog_artical_tags{
        min-width: 150px;
        width: 95%;
       
        
    }

    .artical_tag{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        

    }

    .artical_tag_outline{
        min-width: 61px;
        width: 80%;
        height: 25px;
        border-radius: 13px;
        border: solid 1px var(--sea_blue);
        display: flex;
        justify-content: center;
       
        
    }

    .artical_tag_outline p{
        margin:-1px 2px 0 2px;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.17;
        letter-spacing: normal;
        color: var(--sea_blue);
          
      
    }
    

    
}
@media (max-width: 480px) {


    .Blog_artical{
        margin-top: 30px;
        min-height: 100%;
        align-items: center;
        max-height: 360px;
    
    }
    
    

    .Blog_title_icon{
        min-width: 40px;
        width: 40px;
        height: 40px;
        transform: translateY(8px);
       
    }

    .Blog_artical_tags{
        width: 95%;
    }

    .Blog_artical_pic{
        width: 95%;
        height: 220px;
        background-color: #d8d8d8;
    }

    .Blog_artical_title{
        margin-top: 5px;
        max-width: 95%;
        width: 95%;

       
    }


    .artical_tag{
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        transform: translateX(0px);
    }

    .artical_tag_outline{
        min-width: 55px;
        width: 90%;
        height: 25px;
        border-radius: 13px;
        border: solid 1px var(--sea_blue);
        display: flex;
        justify-content: center;
        
    }

   
}
