*{
    /* outline: solid var(--light_blue) 1px; */
}

.content_warp{
    position: relative;
    z-index: 998;
    overflow: hidden;

}
/*/////// 商品首頁/////// */

.Products_title{
    background-color: #fff;
    height: 100vh;
}

.Products_title_pic{
    position: relative; 
    width: 100%;
    height: 50%;
    background-image: url('../img/productbg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Products_title_pic_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #384982 ;
}

.Products_title_pic_text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
    height: 40px;
}
.Products_title_pic_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;;
}



.Products_title_content{
    width: 100%;
    height: 50%;
}

.seafood_warp{
    margin: 0 auto;
    cursor: pointer;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url('../img/seafood.svg');
    background-size: cover;
    border: solid 3px rgba(23, 34, 61, 0.75);
    text-align: center;
}
.seafood_warp:hover{
    transition: 0.5s;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
}

.seafood_text h1{
   
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

.seafood_text p{
   
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 15px;
}
.more07{
    padding-right: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.more07 p::after{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/right-arrow-w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 9px;
    right: 36px;

}

/*/////// 商品總攬/////// */
.Products_Items{
    position: relative;
    background-color: #fff;
    
    
}
.Products_Items::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    
}

.Products_Items_title h1{
    margin-top: 60px;
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;

}

.Items_categeroy_warp{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.item_type_warp{
    /* background-color: red; */
    width: 40%;
    min-width: 378px;
    height: 50px;
    border: solid 1px  rgba(23, 34, 61, 0.75);
    justify-content: space-evenly;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:var(--dark_blue);

    width: 25%;
    height: 100%;

}
.item_type:hover{
    transition: 0.3s;
    background-color:var(--dark_blue);
    color:white
}


.item_status_warp{
    /* background-color:red; */
    height: 50px;
    width: 30%;
    min-width: 283px;
    justify-content: space-evenly;
}

.item_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(56, 73, 130, 0.4);
    /* width: 33.33%; */
    height: 100%;
    border-bottom: 1px solid transparent;
    padding-top: 10px;
}
.item_status:hover{
    transition: 0.3s;
    border-bottom: 1px solid var(--dark_blue);
    color:var(--dark_blue);
}


.Product_items_warp{
   
    opacity: 1
    /* transform: translateY(20px); */
}

.item_intro{
   
    cursor: pointer;
    position: relative;
    margin: 50px auto 0 auto;
    width: 90%;
    height: 320px;
}

.item_intro:hover{
    transition: 0.5s;
    box-shadow: 2px 6px 15px 0 rgba(173, 173, 173, 0.5);

}

.item_pic{

    width: 100%;
    height: 80%;
    overflow: hidden;
    

}
.item_title{
    position: absolute;
    background-color:white;
    border:solid 0.1px rgba(173, 173, 173, 0.5);
    height: 20%;
    width: 100%;

    bottom:0;
    
}

.item_title h3{
    padding: 25px;
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transform: translateY(-20px);
  
  }

.add_btn{
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--light_blue);
    border-radius: 100%;
    top: 61%;
    right: 3%;
    
}

.add_btn .fa-cart-plus{
    position: absolute;
    color: white;
    font-size: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
    
    
 }

 .item_detail{

    width: 60%;
    text-align: center;
    margin: 15px auto 0 auto;
 
}

.item_detail p{
   
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    color: #000000;
  
  }
  
 
  /* ////////Line購物社團//////  */

  
  .LineGroup_page_bg{
    z-index: 997;
    position: fixed;
    /* margin-top: 800px; */
    top: 0%;
    width: 100%;
    height: 100vh;
    background-image: url('../img/lineGoup_bg.jpg');
    background-size: cover;
    background-position: center;
  }


  .LineGroup_page{
      margin-top: 100px;
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 560px;
  }

  .LineGroup_page_fillter{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: var(--dark_blue)

  }


  .LineGroup_page_content{
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .LineGroup_page_content h1{
    font-size: 3.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }
  .LineGroup_page_content p{
      margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .line_btn_lg{
      margin-top: 50px;
      width: 320px;
      height: 60px;
      border-radius: 30px;
      background-color: #00d5a5;
      border: solid 1px transparent
  }

 

  .line_btn_lg p{
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 0 auto ;
    padding-left: 50px;

  }


  .line_btn_lg p::before{
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 50px;
      width: 35px;
      height: 35px;
      background-image: url('../img/line.svg');
      background-size: contain;
  }



  /* //////商品注意事項/////// */
  .Product_Cauction_page{
    /* height: 100vh; */
    background-color: #fff;
    padding-top: 60px;
}


.Product_Cauction_page_title h1{
    
    font-size: 3.6rem;
    text-align: center;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
  
}

.Product_Cauction_page_content{
    margin: 40px auto 0 auto;
    padding: 0 150px;
}
.Product_Cauction_page_content p{

    color: rgba(0, 0, 0, 0.6);
    
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;

}


.Cauction_map{
    margin-top: 80px;
    height: 500px;
    margin-bottom: 150px;

}

.Cauction_map_pic{
    margin: 0 auto;
    width: 100%;
    height: 80%;
   
    
}
.Cauction_map_pic iframe{
    width: 100%;
    height: 100%;
}


.contact_map_content{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 20%;
    justify-content: center;
    margin-top: 30px;
    

}

.map_content_title{
    margin-right: 80px;
    height: 100%;
    
}

.map_content_title h3{
    margin-top: 40px;
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);

}
.map_content_title h4{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);

}

.map_content_time{
   
    height: 100%;
}
.map_content_time p{
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    border-left: 3px solid var(--sea_blue);

   
}
