*{
    /* outline: solid var(--light_blue) 1px; */
}

/* //////商品選擇//// */
.Prouduct_select{
    margin-top: 140px;
    width: 100%;
    height: 250px;
    background-color:#DDDDDD

}


.Prouduct_select_warp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.Prouduct_select_btn{
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Prouduct_select_icon{
    width: 12%;
    transition: 0.3s;
}

.Fishing_select{
    opacity: 0.5;
    background-color: #DDDDDD;
}

.Prouduct_select_btn h1{
   margin-top: 20px;
   font-size: 2.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.Seafood_select_icon{
    transform: scale(1.8) translateY(-10px);

}
    






@media (max-width: 992px) {

    .Prouduct_select{
        margin-top: 50px;
    }


}
@media (max-width: 480px) {

    .Prouduct_select{
        margin-top: 20px;
        width: 100%;
        height: 200px;
        background-color:#DDDDDD
        
    }

    .Prouduct_select_btn{
        cursor: pointer;
        border-radius: 15px 15px 0px 0px;
        height: 120px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    

    .Prouduct_select_btn{
        justify-content: center;
        align-items: center;
    }
    .Prouduct_select_icon{
        width: 25%;
        transition: 0.3s;
    }
    
    
    .Prouduct_select_btn h1{
        margin-top: 10px;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
    }


    .Seafood_select_icon{
        transform: scale(1.5) translateY(-5px);
    
    }
  
        
}



/* ///////////生鮮食材/////////// */

/* 海鮮管家 */
.seafood_butler{
    padding-bottom: 80px;
}
.seafood_butler_warp{
    margin: 0 auto;
    cursor: pointer;
    margin-top: 80px;
    width: 100%;
    height: 400px;
    background-image: url('../img/seafood.svg');
    background-size: cover;
    border: solid 3px rgba(23, 34, 61, 0.75);
    text-align: center;
    padding-top: 80px;
}

.seafood_butler_warp:hover{
    transition: 0.5s;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
}

.seafood_butler_text h1{
   
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.seafood_butler_text p{
   
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 15px;
}
.more07{
    padding-right: 35px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}

.more07 p::after{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/right-arrow-w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 9px;
    right: 36px;

}

@media (max-width: 992px) {

    .seafood_butler{
        padding-bottom: 30px;
    }


    .seafood_butler_warp{
        height: 360px;
        margin-top: 60px;
        padding-top: 72px;
    
    }

    .seafood_butler_text h1{
   
        font-size: 3.2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        /* margin-top: 50px; */
    }
    
    .seafood_butler_text p{
       
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    
        margin-top: 15px;
    }

    .more07{
        padding-right: 28px;
        margin: 30px auto;  
    }
    
    .more07 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 24px;
    
    }
}
@media (max-width: 480px) {

    .seafood_butler_warp{
        height: 360px;
        margin-top: 60px;
        padding-top: 50px;
    
    }

    .seafood_butler_text h1{
   
        font-size: 3.2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        /* margin-top: 50px; */
    }
    
    .seafood_butler_text p{
       
        font-size: 1.6rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    
        margin-top: 15px;
    }

    .more07{
        padding-right: 28px;
        margin: 30px auto;  
    }
    
    .more07 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 24px;
    
    }

}

/*/////// 商品總攬/////// */
.Seafood_Products_Items{
    position: relative;
    background-color: #fff;    
}

.Items_categeroy_warp{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    
}
.item_type_warp{
   
    min-width: 378px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:black;
    height: 100%;
    opacity: 0.5;
    border-bottom: transparent solid 2px;


}
.item_type:hover{
    transition: 0.3s;
    opacity:1;
    border-bottom: black solid 2px;
    
}


.item_status_warp{
   
    height: 50px;  
    align-items: center;
    margin-right: 20px;
}

.item_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    height: 100%;
   
}


.item_status .fa-angle-down{
    margin-left: 5px;

}



@media (max-width: 480px) {


    .Items_categeroy_warp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 30px;
        
    }

    .item_status_warp{
   
        height: 50px;  
        align-items: center;
        margin-top: 15px;
        margin-right: 20px;
    }

    .item_status{
        font-size: 1.4rem;
        
       
    }

  
}

.Seafood_Product_items_warp{
    padding-bottom: 100px;
}

