/* //////商品選擇//// */
.Prouduct_select{
    margin-top: 140px;
    width: 100%;
    height: 250px;
    background-color:#DDDDDD

}


.Prouduct_select_warp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.Prouduct_select_btn{
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Prouduct_select_icon{
    width: 12%;
    transition: 0.3s;
}

.Item_select{
    opacity: 0.5;
    background-color: #DDDDDD;
}

.Prouduct_select_btn h1{
   margin-top: 20px;
   font-size: 2.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.Seafood_select_icon{
    transform: scale(1.8) translateY(-10px);

}
    



@media (max-width: 992px) {

    .Prouduct_select{
        margin-top: 50px;
    }


}
@media (max-width: 480px) {

    .Prouduct_select{
        margin-top: 20px;
        width: 100%;
        height: 200px;
        background-color:#DDDDDD
        
    }

    .Prouduct_select_btn{
        cursor: pointer;
        border-radius: 15px 15px 0px 0px;
        height: 120px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    

    .Prouduct_select_btn{
        justify-content: center;
        align-items: center;
    }
    .Prouduct_select_icon{
        width: 25%;
        transition: 0.3s;
    }
    
    
    .Prouduct_select_btn h1{
        margin-top: 10px;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
    }


    .Seafood_select_icon{
        transform: scale(1.5) translateY(-5px);
    
    }
  
        
}

.Select_content{
    min-height: 1500px;
}

/* ////商品分類條/////// */
.Products_categeroy_warp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    
    
}
.product_type_warp{
    min-width: 378px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.product_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:black;
    height: 100%;
    opacity: 0.5;
    border-bottom: transparent solid 2px;


}
.product_type:hover{
    transition: 0.3s;
    opacity:1;
    border-bottom: black solid 2px;
    
}

/* 商品排序選擇 */
.Products_status_warp{
    display: flex;
    position: relative;
    height: 50px;  
    align-items: center;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    height: 100%;
    
}


.product_status .fa-angle-down{
    margin-left: 5px;
    transition: 0.3s;
   

}
.product_status .fa-angle-up{
    margin-left: 5px;
    transition: 0.3s;
}

.product_status_list{
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 990;
    top: 40px;
    right: -20px;
    width: 120px;
    min-height: 60px;
    background-color: white;
    padding: 10px 0;
    box-shadow: 2px 2px 8px 0 rgba(173, 173, 173, 0.3);
}

.status_list{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.status_list:hover{
    transition: 0.8s;
    background-color: #dedede
}

@media (max-width: 992px) {

    .Products_categeroy_warp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 30px;
        
    }

   


}

@media (max-width: 480px) {


    .Products_categeroy_warp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 30px;
        
    }

    .Products_status_warp{
   
        height: 50px;  
        align-items: center;
        margin-top: 15px;
        margin-right: 20px;
    }

    .product_status{
        font-size: 1.4rem;
        
       
    }

  
}


/* ///////////生鮮食材/////////// */

/* 海鮮管家 */
.fishbox{
    padding-bottom: 80px;
}
.fishbox_warp{
    margin: 0 auto;
    cursor: pointer;
    margin-top: 80px;
    width: 100%;
    height: 400px;
    background-image: url('../img/seafood.svg');
    background-size: cover;
    border: solid 3px rgba(23, 34, 61, 0.75);
    text-align: center;
    padding-top: 80px;
}

.fishbox_warp:hover{
    transition: 0.5s;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
}

.fishbox_text h1{
   
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.fishbox_text p{
   
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 15px;
}
.more07{
    padding-right: 35px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}

.more07 p::after{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/right-arrow-w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 9px;
    right: 36px;

}

@media (max-width: 992px) {

    .fishbox{
        padding-bottom: 30px;
    }


    .fishbox_warp{
        height: 360px;
        margin-top: 60px;
        padding-top: 72px;
    
    }

    .fishbox_text h1{
   
        font-size: 3.2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        /* margin-top: 50px; */
    }
    
    .fishbox_text p{
       
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    
        margin-top: 15px;
    }

    .more07{
        padding-right: 28px;
        margin: 30px auto;  
    }
    
    .more07 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 24px;
    
    }
}
@media (max-width: 480px) {

    .fishbox_warp{
        height: 360px;
        margin-top: 60px;
        padding-top: 50px;
    
    }

    .fishbox_text h1{
   
        font-size: 3.2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        /* margin-top: 50px; */
    }
    
    .fishbox_text p{
       
        font-size: 1.6rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    
        margin-top: 15px;
    }

    .more07{
        padding-right: 28px;
        margin: 30px auto;  
    }
    
    .more07 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 24px;
    
    }

}

/*///////  生鮮食材總攬/////// */
.Seafood_ALLProduct{
    position: relative;
    background-color: #fff;    
}


.Seafood_Products_warp{
    margin-top: 50px;
    padding-bottom: 100px;
}


@media (max-width: 992px) {
    .Seafood_Products_warp{
        margin-top: 20px;
        padding-bottom: 80px;
    }

}
@media (max-width: 480px) {
    .Seafood_Products_warp{
        margin-top: 30px;
        padding-bottom: 80px;
    }

}


/* /////////釣魚用具/////////// */

.Item_select_warp{
    display: none;
}

/* 釣魚用具分類 */
.Item_type_content{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Item_type_box{
    opacity: 0.3;
    cursor: pointer;
    margin: 0 15px 0 15px;
    width: 180px;
    height: 180px;
    border:solid 1px transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Item_type_box:hover{

    transition: 0.8s;
    opacity: 1;
    border:solid 1px var(--dark_blue);


}

.Item_type_icon{
    width: 70px;
    height: 70px;
}


.Item_type_box h1{
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: 450;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--dark_blue)
}

.type_icon01 img{
    transform:  translate(-8px);
}
.type_icon03 img{
    transform: scale(1.2) translate(10px,15px);
}
.type_icon04 img{
    transform: scale(0.75);
}

.Item_type01{
    opacity: 1;
    border:solid 1px var(--dark_blue);
}

@media (max-width: 992px) {

    .Item_type_box{
        opacity: 0.3;
        cursor: pointer;
        margin: 0px 15px 50px 15px;
        width: 120px;
        height: 150px;
        border:solid 1px transparent;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Item_type01{
        opacity: 1;
        border:solid 1px var(--dark_blue);
    }
}
@media (max-width: 480px) {

    .Item_type_box{
        opacity: 0.3;
        cursor: pointer;
        margin: 0px 15px 50px 15px;
        width: 120px;
        height: 150px;
        border:solid 1px transparent;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Item_type01{
        opacity: 1;
        border:solid 1px var(--dark_blue);
    }


}




/* 釣魚用具總攬 */
.Item_ALLProducts{
    position: relative;
    background-color: #fff;    
}


.item_type_warp{
    min-width: 700px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:black;
    height: 100%;
    opacity: 0.5;
    border-bottom: transparent solid 2px;


}
.item_type:hover{
    transition: 0.3s;
    opacity:1;
    border-bottom: black solid 2px;
    
}


.Item_Products_warp{
    margin-top: 50px;
    padding-bottom: 100px;
    
}


@media (max-width: 992px) {

    .Item_ALLProducts{
        margin-top: -40px;
    }
    

    .Item_Products_warp{
        margin-top: 20px;
        padding-bottom: 80px;
        
    }


}

@media (max-width: 480px) {


    .Items_categeroy_warp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 30px;
        
    }

    .item_type_warp{

        min-width: 0;
        width: 98%;
        margin: 0 auto;
        height: 70px;
        justify-content: flex-start;
        align-items: center;
        
 
    }

    .item_type{
        width: 25%;
        font-size: 1.6rem;
        display: flex;
        align-items: baseline
        

    }
    

    
    .Item_Products_warp{
        margin-top: 30px;
        padding-bottom: 80px;
        
    }
    
  
}


