/* 食譜封面 */
.Recipe_title{
    position: relative;
    margin-top: 140px;
    width: 100%;
    height: 360px;
    background-image: url('../img/diary_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
}

.Recipe_title_bg{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #384982 ;
    
}

.Recipe_title_text_warp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.Recipe_title_text{
    overflow: hidden;
    width: 250px;  
    height: 50px;
    margin: 0 auto;
    text-align: center;
    

}
.Recipe_title_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.Recipe_title_subtext{
    overflow: hidden;
    margin: 20px auto 0 auto; 
    width: 40%;
    height: 80px;
}

.Recipe_title_subtext p{
    font-size: 2rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.11px;
    text-align: center;
    color: #fff;

 
}





@media (max-width: 992px) {

    .Recipe_title{
        margin-top: 50px;
        height: 300px;
       
    }

    .Recipe_title_subtext{
        overflow: hidden;
        margin: 20px auto 0 auto; 
        width: 60%;
        height: 80px;
    }

}
@media (max-width: 480px) {

    .Recipe_title{
        margin-top: 50px;

        height: 250px;
       
    }
    .Recipe_title_subtext{
        overflow: hidden;
        margin: 20px auto 0 auto; 
        width: 80%;
        height: 130px;
        
    }

    .Recipe_title_subtext p{
        font-size: 1.4rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.11px;
        text-align: center;
        color: #fff;
    
     
    }
    

}

/* /////食譜廣吿////// */

.Recipe_ad{ 
    background-color: rgba(23, 34, 61, 0.05);
}


.Recipe_ad_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:80px 0 80px 0;
}

.ad_content{
    cursor: pointer;
    min-width: 500px;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    transition: 0.8s;
    

}
.ad_content:hover{
    
    transition: 0.8s;
    box-shadow: 0px 10px 30px var(--grey);


}

.ad_content img{
    height: 100%;
}

@media (max-width: 992px) {

  
    
    .Recipe_ad_content{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin:80px 0 80px 0;
    }

    .ad_content{
        min-width: 45%;
        width: 45%;
        margin-top: 30px;
        height: 200px;
        background-color: #d8d8d8;
    
    }


}
@media (max-width: 480px) {

    
    .Recipe_ad_content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 20px 0 60px 0;
    }

    .ad_content{
        min-width: 95%;
        width: 95%;
        margin-top: 30px;
        height: 200px;
        background-color: #d8d8d8;
    
    }

}


/* 食譜文章 */

.Recipe_articale{
    margin-top: 80px;
}

.Recipe_tool{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding-bottom: 20px;
    border-bottom: solid 1px #7cafbf;
    margin-bottom: 60px;
}


.Recipe_tool_search{
    background-color: blue;
    width: 30%;
    height:100%; 
    max-height: 40px;
    border-radius: 40px;
    border: 1px solid #7cafbf;
    display: flex;
}

.search_input_warp{
    position: relative;
    width: 75%;
}
.search_input{
    width: 100%;
    height:100%;
   
    border-radius: 40px 0 0  40px;
    background-color: white;
    border: transparent;
    padding-left: 50px;
    font-size: 1.6rem;
    color:#7cafbf ;
}

.search_input_warp::before{
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-image: url('../img/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: contain;

}


.search_btn{
    cursor: pointer;
    padding-top: 8px;
    width: 25%;
    height: 100%;
    background-color: #7cafbf;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.Recipe_tags{
    display: flex;
    min-height: 40px;
    width: 65%;
    justify-content: space-between;
   
    
}

.Recipe_tags_warp{
    width: 90%;
    height: 40px;
    height: 80px;
    overflow: hidden;

}

.Recipe_tags_warp .artical_tag{
    display: flex;
    align-items: center;
    margin-top:8px;

}

.Recipe_more_tags{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 10%;
    cursor: pointer;
}


.Recipe_more_tags p{

    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7cafbf;



}

.Recipe_more_tags p:hover{
    transition: 0.8s;
    color:#dc7e00;
}


.Recipe_more_tags .fa-caret-down{
    margin-left: 5px;
}




@media (max-width: 992px) {

    .Recipe_tool_search{
        width: 35%;
        height:100%; 
        max-height: 40px;
        border-radius: 40px;
        border: 1px solid #7cafbf;
        display: flex;
    }

    .Recipe_tags{
        display: flex;
        min-height: 40px;
        width: 62%;   
        justify-content: space-between;
       
        
    }
    .Recipe_tags_warp{
        width: 85%;
        height: 40px;
        overflow: hidden;
    
    }

    .Recipe_more_tags{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 12%;
        cursor: pointer;
    }



    .Recipe_more_tags p{

        margin-top: 8px;
        font-size: 1.4arem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #7cafbf;
    
    
    
    }

}
@media (max-width: 480px) {

   

    .Recipe_articale{
        margin-top: 40px;
    }

    .Recipe_tool{
        display: flex;
        justify-content: space-between;
        min-height: 60px;
        padding-bottom:3px;
        border-bottom: solid 1px #7cafbf;
        margin-bottom: 25px;
        flex-direction: column;
     
    }

    .Recipe_tool_search{
        width: 100%;
        height:100%; 
        max-height: 40px;
        border-radius: 40px;
        border: 1px solid #7cafbf;
        display: flex;
    }


    .Recipe_tags_warp{
        width: 100%;
        height: 45px;
       
        
    }


    .Recipe_tags{
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
       
    }


    .Recipe_more_tags{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 12%;
        cursor: pointer;
        margin-top: 0px;
        
    }

    .Recipe_more_tags p{

        margin-top: 8px;
        font-size: 1.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #7cafbf;
    
    
    }
   


}

/* 文章列表  */
.recipe_articale_warp{
    /* background-color: pink; */
    margin-bottom: 60px;
}

.recipe_articale_warp .Blog_artical{
   
    justify-content:flex-start;
    align-items: center;
   
}

@media (max-width: 480px) {

  
}

/* 分頁 */
.articale_pages_warp{
    margin-bottom: 80px;
}


.articale_pages{
    width:30%;
    height: 60px;
    margin: 0 auto;
    background-color: green;
}

