/* 船班資訊標題  */

.Ship_info_title{
    margin-top: 140px;
    position: relative;
    height: 360px;
    background-image: url('../img/princess_boat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ship_info_title_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #384982 ;
}

.Ship_info_title_text{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 50px;
     
}
.Ship_info_title_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

@media (max-width: 992px) {

    .Ship_info_title{
        margin-top: 50px;
        height: 300px;
    }
    
}

@media (max-width: 480px) {

    .Ship_info_title{
        margin-top: 50px;
        height: 250px;
    }
    
}


/* 船班資訊介紹 */

.Ship_info_intro_warp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.Ship_info_intro_title{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Ship_info_intro_title h1{

    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-align: center;
    color: #000;
  
}

.Ship_info_intro_text{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    border-left:  solid 3px var(--sea_blue);
    padding-left: 30px;
}

.Ship_info_intro_text p{

    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #000;
}


@media (max-width: 992px) {

    .Ship_info_intro_warp{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
    }

    .Ship_info_intro_text{

        display: flex;
        justify-content: flex-start;
        align-items:center;
        padding-left: 0px;
      
    }

   
}

@media (max-width: 480px) {

    .Ship_info_intro_warp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px 0px;
    }

    .Ship_info_intro_text{

        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        border-left:  solid 3px transparent;
        border-top:  solid 3px var(--sea_blue);
        padding-left: 0px;
        margin-top: 20px;
        padding-top: 20px;
       
    }

}

.Ship_info_media{
    position: relative;
    padding: 0;
    width: 100%;
    height: 600px;
    margin:0 0 80px 0;
    overflow: hidden;
}

.Ship_info_media iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}


.Ship_info_content_text{
    width: 80%;
    margin: 0 auto 80px auto;
}

.Ship_info_content_text p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

@media (max-width: 992px) {

    .Ship_info_media{
        width: 96%;
        height: 350px;
        background-color: #dedede;
        margin:0 auto 60px auto;
        overflow: hidden;
    }

    .Ship_info_content_text{
        width: 85%;
        margin: 0 auto 60px auto;
    }

    .Ship_info_media iframe{
        width: 100%;
        height: 100%;
       
    }
    
}

@media (max-width: 480px) {

    .Ship_info_media{
        width: 96%;
        height: 250px;
        background-color: #dedede;
        margin:0 auto 60px auto;
        overflow: hidden;
    }

    .Ship_info_content_text{
        width: 90%;
        margin: 0 auto 60px auto;
    }

    .Ship_info_media iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    


}


/* //////航班團隊///// */

.Ship_info_team_title{
    position: relative;
    width: 80%;
    max-width: 900px;
    height: 140px;
    margin: 0 auto 80px auto ;
    z-index: 60;
}

.title_up{
    z-index: 61;
    position: absolute;
    top: 0;
    right: 2%;
    width: 50%;
    max-width: 550px;
    height: 90%;
    max-height: 126px;
    transform: skew(-35deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.title_up_bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;  
    background-color: white;
    
}

.title_up_text{
    opacity: 1;
    transform: skew(35deg);
}

.title_up_text h1{
  
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 2px;
    color: black;
    
    
}
.title_up_text h1 span{
    font-size: 2.4rem;
    opacity: 1;
    color:#0077ff;
}

.title_up_text .zero-text{
    font-size: 4rem;
    font-family: Menlo-Regular;

}

.title_up_text h1:nth-of-type(2){
    transform: translateX(-20px);
}
.title_up_text h1:nth-of-type(3){
    transform: translateX(-40px);
}




.title_down{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    max-height: 126px;
    background-color: #fff773;
    transform: skew(-35deg);
    z-index: 60;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.title_down_text h1{
 
    font-size: 2.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    
  }
  .title_down_text h1:nth-of-type(2){
      margin-left: 20px;
  
  }

.title_down_text{
    margin-left: 120px;
    transform: skew(35deg);

}


.title-icon01{
    z-index: 61;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -10px;
}


.title-icon02{
    z-index: 61;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 10px;
  
} 

@media (max-width: 992px) {


    .title_up_text{
        opacity: 1;
        transform: skew(35deg) translateX(30px);
    }


    .title_up_text h1{
    
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 3rem;
        letter-spacing: 2px;
        color: black;
        
        
    }

    .title_up_text h1 span{
        font-size: 2rem;
        opacity: 1;
        color:#0077ff;
    }
    
    .title_up_text .zero-text{
        font-size: 3rem;
        font-family: Menlo-Regular;
    
    }

    

    .title_down_text{
        margin-left: 40px;
        margin-bottom: 0px;
        transform: skew(35deg);
    
    }

    .title_down_text h1{
 
        font-size: 2.4rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        
    }


    .title-icon01{
        z-index: 61;
        position: absolute;
        width: 90px;
        height: 90px;
        top: -10px;
        left: -20px;
    }
    
    
    .title-icon02{
        z-index: 61;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0;
        bottom: 10px;
      
    } 
}
@media (max-width: 480px) {

    .Ship_info_team_title{
        position: relative;
        width: 80%;
        max-width: 900px;
        height: 200px;
        margin: 0 auto 60px auto ;
    }


    

    .title_up{
        z-index: 61;
        position: absolute;
        top: 90px;
        right: 2%;
        width: 90%;
        max-width: 550px;
        height: 90%;
        max-height: 126px;
        transform: skew(-35deg);
    
    }

    .title_up_bg{
        width: 90%;
        height: 100%;
        opacity: 1;
        background-color: white;
        border:solid 2px #fff773;
    
    
    }

    .title_down{
        position: absolute;
        top: 0;
        width: 90%;
        height: 90%;
        max-height: 126px;
        transform: skew(-35deg);
        z-index: 60;
        
    }

    .title_down_text{
        margin-left: 80px;
        margin-bottom: 25px;
        transform: skew(35deg);
    
    }


    .title_down_text h1{
 
        font-size: 1.8rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        
    }

    .title_up_text{
        margin-top: 10px;
        opacity: 1;
        transform: skew(35deg) translateX(30px);
    }


    .title_up_text h1{
    
        font-size: 1.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 3rem;
        letter-spacing: 2px;
        color: black;
        
        
    }

    .title_up_text h1 span{
        font-size: 1.6rem;
        opacity: 1;
        color:#0077ff;
    }
    
    .title_up_text .zero-text{
        font-size: 3.2rem;
        font-family: Menlo-Regular;
    
    }


    .title-icon01{
        z-index: 61;
        position: absolute;
        width: 100px;
        height: 100px;
        top: -20px;
        left: 0;
    }
    
    
    .title-icon02{
        z-index: 61;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0;
        bottom: 10px;
      
    } 
    



}


/* 團員介紹 */
.Ship_info_team_content{
    z-index: 60;
    position: relative;
    background-color: var(--sea_blue);
    min-height: 2200px;
    display: flex;
    align-items: center;
}

.Ship_info_team_content::before{
    content: '';
    top: 0px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1000px;
    background-image: url('../img/teambg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}


.Ship_info_team_content::after{

    content: '';
    bottom: 0px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 728px;
    background-image: url('../img/new_map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--dark_blue);
} 

.Ship_info_team_pic{
    position: relative;
    display: flex;
    width: 100%;
    top: -150px;
    

}

.mask{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
   
}

.mask_pic{
    width: 240px;
    height: 240px; 
    border-radius: 100%;
    background-color: var(--sea_blue);
    border: solid 3px #ffffff;
    overflow: hidden;
}

.mask_title p{
   
    width: 180px;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6rem;
    letter-spacing : 1.33px;
    text-align: center;
    color: #000000;
  
}

.mask_title p:nth-of-type(1){
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.mask01{
    transform: translate(0px,-95px);
}
.mask04{
    transform: translate(0px,-90px);
}
.mask06{
    transform: translate(0px,80px);
}
.mask07{
    transform: translate(0px,-60px);
}

.mask08{
    transform: translate(0px,80px);
}



@media (max-width: 992px) {

    .Ship_info_team_content{
        z-index: 60;
        position: relative;
        background-color: var(--sea_blue);
        min-height: 3000px;
        display: flex;
        align-items: center;
    }

    .Ship_info_team_content::before{
        content: '';
        top: 0px;
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 500px;
        background-image: url('../img/teambg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .Ship_info_team_content::after{
        content: '';
        bottom: 0px;
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 400px;
        background-image: url('../img/new_map.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--dark_blue);
    }

    .Ship_info_team_pic{
        position: relative;
        display: flex;
        width: 100%;
        top:-100px
        
    }

    .mask01{
        transform: translate(0px,0px);
    }
    .mask04{
        transform: translate(0px,0px);
    }
    .mask06{
        transform: translate(0px,0px);
    }
    .mask07{
        transform: translate(0px,0px);
    }
    
    .mask08{
        transform: translate(0px,0px);
    }
    
}
@media (max-width: 480px) {

    .Ship_info_team_content{
        z-index: 60;
        position: relative;
        background-color: var(--sea_blue);
        min-height: 2400px;
        display: flex;
        align-items: center;
    }

    .Ship_info_team_content::before{
        content: '';
        top: 0px;
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 200px;
        background-image: url('../img/teambg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .Ship_info_team_content::after{
        content: '';
        bottom: 0px;
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 250px;
        background-image: url('../img/new_map.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--dark_blue);
    }

    .Ship_info_team_pic{
        position: relative;
        display: flex;
        width: 100%;
        top:-60px
        
    }

    .mask{
        width: 240px;
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        /* background-color: red; */
    
       
    }
    

    .mask_pic{
        width: 120px;
        height: 120px; 
        border-radius: 100%;
        background-color: var(--sea_blue);
        border: solid 3px #ffffff;
        overflow: hidden;
    }


    .mask_title p{
    
        width: 160px;
        font-size: 1.6rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6rem;
        letter-spacing : 1.33px;
        text-align: center;
        color: #000000;
    
    }

    .mask_title p:nth-of-type(1){
        margin-top: 12px;
        font-size: 1.8rem;
        font-weight: 500;
    }


    .mask01{
        transform: translate(0px,0px);
    }
    .mask04{
        transform: translate(0px,0px);
    }
    .mask06{
        transform: translate(0px,0px);
    }
    .mask07{
        transform: translate(0px,0px);
    }
    
    .mask08{
        transform: translate(0px,0px);
    }
    


}


/* 預約海釣 */
.Ship_info_appointment{
    position: relative;
    z-index: 61;
    top:0px;
    width: 100%;
   
}

.Ship_info_appointment_text{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000;

}
  
.Ship_info_appointment_text p{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  
}

.more_btn_yellow{
    padding-left: 45px;
    margin: 60px auto 0 auto;
    width: 320px;
    height: 60px;
    background-color: #fff773;
    border-radius: 30px;
    cursor: pointer;

    
}


.more_btn_yellow p{
    
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: #384982;
    margin: 0 auto ;
    
}
.more_btn_yellow p::after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top:6px;
    left: 20px;
    background-image: url('../img/line-db.svg');
    background-size: contain;
    

   
}

.Ship_info_appointment_video{
    display: flex;
    flex-direction: column;
    
  
}


.m_video{
    position: relative;
    width: 240px;
    height: 190px;
    background-image: url('../img/videoframe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-top: 40px; */


}

.m_video iframe{
     border-radius: 10px;
     position: absolute;
     width: 210px;
     height: 130px;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-60%);
 }


 .m_video01{
    transform: translate(200px,-30px);

 }
 .m_video02{
    transform: translate(50px,0px);

 }
 .m_video03{
    transform: translate(400px,0px);

 }
 

@media (max-width: 992px) {

    .Ship_info_appointment{
        position: relative;
        z-index: 61;
        top:0px;
        width: 100%;
       
    }

    .Ship_info_appointment_text{
    
        margin-top: -120px;
    
    }


    .more_btn_yellow{
        margin: 50px auto 0 auto;
        width: 250px;
        height: 50px;
        background-color: #fff773;
        border-radius: 30px;
        cursor: pointer;
    
        
    }
   
    
    .more_btn_yellow p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: black;
        margin: 0 auto ;
        
    }

    
    .more_btn_yellow p::after{
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        top:3px;
        left: 0px;
        background-image: url('../img/line-db.svg');
        background-size: contain;
        
    
       
    }

    .Ship_info_appointment_video{
        margin-top: 60px;
        align-items: center;
     }

    .m_video01{
        transform: translate(0px,0px);
    
     }
     .m_video02{
        transform: translate(0px,0px);
    
     }
     .m_video03{
        transform: translate(0px,0px);
    
     }

}
@media (max-width: 480px) {

    .Ship_info_appointment_text{
        margin-top: -30px;
    
    }

    .Ship_info_appointment{
        position: relative;
        z-index: 61;
        top:0px;
        width: 100%;
       
    }


  
    .more_btn_yellow{
        margin: 20px auto 0 auto;
        width: 250px;
        height: 50px;
        background-color: #fff773;
        border-radius: 30px;
        cursor: pointer;
    
        
    }

    .more_btn_yellow p::after{
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        top:3px;
        left: 0px;
        background-image: url('../img/line-db.svg');
        background-size: contain;
        
    
       
    }

    
    .more_btn_yellow p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: black;
        margin: 0 auto ;
        
    }

    .Ship_info_appointment_video{
       margin-top: 40px;
       align-items: center;
    }

    .m_video01{
        transform: translate(0px,0px);
    
     }
     .m_video02{
        transform: translate(0px,0px);
    
     }
     .m_video03{
        transform: translate(0px,0px);
    
     }
}


.Ship_info_more{
    padding-top: 80px;
    background-color:var(--dark_blue);
}
.Tourist{
    height: 500px;
    margin-bottom: 100px;
   
    
}

.Tourist_outframe{
    overflow: hidden;
    position: relative;
    margin: 0 auto ;
    max-width: 345px;
    height: 100%;
    background-color: white;
}

.Tourist_pic{
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 16px;
    background-color: white;
    width: 90%;
    height: 80%;
    box-shadow:rgba(0,0,0,0.4) 3px 3px 30px 0px inset;  

}

.tour_pic01 img{
    width: 120%;
    
}

.tour_pic02 img{
    width: 190%;
    transform: translateX(-160px);
}

.Tourist_icon{
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--dark_blue);
    border-radius: 100%;
    border:25px solid white;
    bottom: -2%;
}

.tour_icon01 img{
    width: 75%;
    transform: translate(25% ,20%);
}

.tour_icon02 img{
    width: 75%;
    transform: translate(20% ,32%);
}

.Tourist_link{
    cursor: pointer;
    position: absolute;
    right: 30%;
    bottom: 3%;
   
    font-size: 2.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #384982;
}

.Tourist_link p::after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: -30px;
    width: 20px;
    height: 20px;
    background-image: url("../img/right-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 992px) {

    .Tourist{
        height: 500px;
        margin-bottom: 80px;
        
    }


    .Tourist_outframe{
        overflow: hidden;
        position: relative;
        margin: 0 auto ;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    
    .Tourist_pic{
        overflow: hidden;
        position: absolute;
        top: 15px;
        left: 11px;
        background-color: white;
        width: 90%;
        height: 80%;
        box-shadow:rgba(0,0,0,0.4) 3px 3px 30px 0px inset;  
    
    }
    
    .tour_pic01 img{
        width: 120%;
        
    }
    
    .tour_pic02 img{
        width: 190%;
        transform: translateX(-100px);
    }
    
    .Tourist_icon{
        cursor: pointer;
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: var(--dark_blue);
        border-radius: 100%;
        border:20px solid white;
        bottom: -2%;
    }
    
    .tour_icon01 img{
        width: 75%;
        transform: translate(25% ,20%);
    }
   
    .tour_icon02 img{
        width: 75%;
        transform: translate(20% ,32%);
    }
    
    .Tourist_link{
        cursor: pointer;
        position: absolute;
        right: 30%;
        bottom: 3%;
       
        font-size: 1.6rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #384982;
    }
    
    .Tourist_link p::after{
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        right: -18px;
        width: 15px;
        height: 15px;
        background-image: url("../img/right-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
    
    }


}
@media (max-width: 480px) {

    .Tourist{
        height: 500px;
        margin-bottom: 60px;
        
    }

    .Tourist_icon{
        cursor: pointer;
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: var(--dark_blue);
        border-radius: 100%;
        border:25px solid white;
        bottom: -2%;
    }

    

    .Tourist_link{
        cursor: pointer;
        position: absolute;
        right: 30%;
        bottom: 3%;
       
        font-size: 2.4rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #384982;
    }
    
    .Tourist_link p::after{
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        right: -25px;
        width: 20px;
        height: 20px;
        background-image: url("../img/right-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
    
    }


}