*{
    outline: solid var(--light_blue) 1px;
}

/* body{
    height: 5000px;
} */

p {
    margin: 0;
}

a {
    color:inherit;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
select {
    outline: none;
}

ul {
    margin-bottom: 0;
}


:root {
   --light_blue: rgba(0, 165, 255, 0.85);
   --dark_blue: #384982;
   --sea_blue: #abd5e3;
   --grey:  #c0c0c0;

}

/* ///////導覽列////////// */
.navbar{
    z-index: 999;
    width: 100%;
    max-height: 70px;
    background-color: #ffff;
}


.navbar_items{
    
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center ;
    width: 80%
}

.navbar_items img{
     width: 100px;
}

.navbar_items li{
    cursor: pointer;
    list-style: none;
    margin: 0 30px;
}

.navbar_items li:hover{
    transition: 0.5s;
    color: var(--light_blue);
}

.homepage_video_wrap{
    z-index: 997;
    width: 100%;
    height:100vh;
    overflow: hidden;
    
}

.home_video {
     object-fit:cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;

} 

.videos_space{
    height: 100vh;
    background-color: transparent;
}


/* ////內容開始/////*/
.content_warp{
    height: 5000px;
    width: 100%;
    z-index: 998;
    position: relative;
    background-color: white;
    
}


/* /////首頁////// */

.Landing_page {
    box-shadow: 0px 10px 30px var(--grey);

}

.home_intro{
   
    margin-top: 50px;
    text-align: center;
}


.home_intro_subtitle{
    margin: 0 auto;
    width: 200px;
    position: relative;
}
.home_intro h2{
  font-family: PingFangTC;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.home_intro h2::after{
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/top-icon.svg');
    background-repeat: no-repeat;
    top: 0;
    right: -15px;
    width: 50px;
    height: 50px;

}


.home_intro_title{
  
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_intro_title h1{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
}

.title_line{
    width: 100%;
    border-bottom: solid 0.3px var(--grey);
 
}

.home_intro p{
    font-family: PingFangTC;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;

    color: rgba(0, 0, 0, 0.7);
    margin: 50px auto 0 auto;
    width: 63%;


}


.more_btn{
    
    margin: 0 auto;
    width: 320px;
    height: 60px;
    background-color: var(--dark_blue);
    border-radius: 30px;
    cursor: pointer;
   
    

}

.more_btn:hover{
    transition: 0.5s;
    background-color: var(--light_blue)
}

.more_btn p{
    display: flex;
    position: relative;
    font-family: PingFangTC;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.more01 img{
    position: absolute;
    top: 26%;
    right: -8%;
    width: 20px;
    height: 20px;
   
}

.more01{
    margin: 40px auto 100px auto;  
}


/* /////最新漁貨////// */


.item_tittle{
   text-align: center;
    margin: 80px auto 0 auto;
  
 
}

.item_tittle h1{
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;

}


.item_intro{
   
    cursor: pointer;
    position: relative;
    margin: 50px auto 0 auto;
    width: 90%;
    height: 320px;
}

.item_intro:hover{
    transition: 0.5s;
    box-shadow: 2px 6px 15px 0 rgba(173, 173, 173, 0.5);

}

.item_pic{

    width: 100%;
    height: 80%;
    overflow: hidden;
    

}
.item_title{
    position: absolute;
    background-color:white;
    border:solid 0.1px var(--grey);
    height: 20%;
    width: 100%;

    bottom:0;
    
}

.item_title h3{
    padding: 25px;
    font-family: PingFangTC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transform: translateY(-20px);
  
  }

.add_btn{
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: var(--light_blue);
    border-radius: 100%;
    top: 58%;
    right: 2%;
}

.add_btn .fa-cart-plus{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
    
    
 }

 .item_detail{

    width: 60%;
    text-align: center;
    margin: 15px auto 0 auto;
 
}

.item_detail p{
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    color: #000000;
  
  }
  
 
.view_more_btn{
    cursor: pointer;
    margin: 60px auto 0 auto;
    text-align: center;
    color:rgba(29, 30, 30, 0.55);
    width: 140px;
    
}
.view_more_btn p{
    transform: translateY(10px);
    font-size: 18px;
    border-bottom: solid 0.5px rgba(29, 30, 30, 0.55);
    padding-bottom: 5px;
    
}


/* ////海鮮管家////  */

.seafood_warp{
    cursor: pointer;
    margin-top: 90px;
    width: 100%;
    height: 400px;
    background-image: url('../img/seafood.svg');
    background-size: cover;
    border: solid 3px rgba(23, 34, 61, 0.75);
    text-align: center;
}
.seafood_warp:hover{
    transition: 0.5s;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
}

.seafood_text h1{
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 80px;
}

.seafood_text p{
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 15px;
}
.more02{
    margin-top: 40px;
}
.more02 img{
    position: absolute;
    top: 20%;
    right: 18%;
    width: 20px;
    height: 20px;
}

/* ///注意事項//// */

.Caution_page{
    /* height: 100vh; */
}

.Caution_warp{
    text-align: center;
}

.Caution_warp h1{
    margin-top: 120px;
}

.Caution_content{
  
    word-break: break-all;
    color: rgba(0, 0, 0, 0.7);
    margin: 30px auto 0 auto;
    width: 75%;
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
  
}



.social_btn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;

}

.contact_btn{
    margin: 0 30px;
    color: rgba(0, 0, 0, 0.7);
}

.contact_intro{
    margin: 15px auto;
    text-align: center;

}

.contact_intro p{
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.line_btn{
    width: 200px;
}

.line_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #00d5a5;
    border-radius: 100%;
    
}


.line_pic img{
    position: absolute;
    width: 45px;
    height: 45px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}



.line_intro h3{
 font-family: PingFangTC;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;

}


.phone_btn{
    width: 200px;
}
.phone_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #d084e4;
    border-radius: 100%;
}

.phone_pic .fa-phone-alt{
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%,-50%) ;
}



.phone_intro h3{
    font-family: PingFangTC;
     font-size: 24px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: center;
   
}



/* //////預約頁面//////  */

.Apppointment_page{
    
    background-color: var(--sea_blue);
}

.Apppointment_title{
    position: relative;
    width: 80%;
    height: 140px;
    margin: 80px auto 0 auto;
 
    padding: 0;

}


.title_up{
    position: absolute;
    right: 2%;
    width: 50%;
    height: 85%;
    opacity: 0.8;
    background-color:#ffff;
    transform: skew(-35deg);

}
.title_down{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: #fff773;
    transform: skew(-35deg);

}


.title-icon01{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;

    transform: translateY(-10px);
}
.title-icon02{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
    transform: translateY(-10px);
}

