*{
    /* outline: solid var(--light_blue) 1px; */
}

/* body{
    height: 5000px;
} */

p {
    margin: 0;
}

a {
    color:inherit;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
select {
    outline: none;
}

ul {
    margin-bottom: 0;
}


:root {
   --light_blue: rgba(0, 165, 255, 0.85);
   --dark_blue: #384982;
   --sea_blue: #abd5e3;
   --grey:  #c0c0c0;

}



/* ///////導覽列////////// */
.navbar{
    z-index: 999;
    width: 100%;
    max-height: 70px;
    background-color: #ffff;
    
}


.navbar_items{
    
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center ;
    width: 80%;
   
    
}

.navbar_items img{
     width: 100px;
}

.navbar_items li{
    cursor: pointer;
    list-style: none;
    margin: 0 30px;
}

.navbar_items li:hover{
    transition: 0.5s;
    color: var(--light_blue);
}

/* ////Landingpage//// */
.homepage_video_wrap{
    position: relative;
    z-index: 997;
    width: 100%;
    height:100vh;
    overflow: hidden;
    
}

.video_outside{
    padding: 0;
    position: absolute;
    left: 0;
    z-index: 996;
    width: 100%;
    height: 100vh;
   
}

.video_outside_bg{
    z-index: 994;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    background-color: #384982
}

.Logo_pic{
    width: 250px;
    height: 150px;
    margin: 0 auto;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1s;
  }
  
.Landing_page_content{
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 995;
    width: 100%;
    height: 100Vh;
    text-align: center;
    color:white

}

.Landing_page_content .sub_title{
    overflow: hidden;
    height: 40px;
}

.Landing_page_content .big_title{
    overflow: hidden;
    height: 50px;
}


.Landing_page_content h3{
    font-family: PingFangTC;
    font-size: 27px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;


}
.Landing_page_content h1{
    font-family: PingFangTC;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;


}
.Landing_page_content .md-text{
    margin-top: 40px;
   justify-content: space-between;
   width: 10%;
   align-items: center;
}
.Landing_page_content .md-line{
    margin-top: -20px;
    width: 50px;

    border-top: 0.5px solid white;

}
.Landing_page_content .bt-text{
    margin-top: 5px;
    justify-content: space-around;
    width: 15%;
}
.Landing_page_content .bt-text p{
    cursor: pointer;
   padding: 0 12px;
    border: 0.5px solid white;
    border-radius: 10px;
}
.Landing_page_content .bt-text p:hover{
    transition: 0.5s;
    background-color: white;
    border: 0.5px solid transparent;
    color:black;
   
}
.animate__animated.animate__fadeInUp{
   
    --animate-duration: 2s;
  }



.home_video {
     z-index: 993;
     position: absolute;
     object-fit:cover;
     height: 100vh;
     width: 100%;
     top: 0;
     left: 0;
   

} 

.videos_space{
    max-width: 375px;
    height: 100vh;
    background-color: transparent;
}


/* ////內容開始/////*/
.content_warp{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 998;
    position: relative;
    background-color: white
    
}


/* /////第一頁////// */

.First_page {
    box-shadow: 0px 10px 30px var(--grey);

}

.home_intro{
   
    margin-top: 50px;
    text-align: center;
}


.home_intro_subtitle{
    margin: 0 auto;
    width: 200px;
    position: relative;
}
.home_intro h2{
  font-family: PingFangTC;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.home_intro h2::after{
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/top-icon.svg');
    background-repeat: no-repeat;
    top: 0;
    right: -40px;
    width: 50px;
    height: 50px;

}


.home_intro_title{
  
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home_intro_title h1{
    position: absolute;
    width: 45%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
}

.title_line{
    /* position: absolute; */
   
    width: 100%;
    border-bottom: solid 0.3px var(--grey);
 
}

.home_intro p{
    font-family: PingFangTC;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;

    color: rgba(0, 0, 0, 0.7);
    margin: 50px auto 0 auto;
    width: 63%;


}


.more_btn{
    width: 320px;
    height: 60px;
    background-color: var(--dark_blue);
    border-radius: 30px;
    cursor: pointer;

}

.more_btn:hover{
    transition: 0.5s;
    background-color: var(--light_blue)
}

.more_btn p{
    display: flex;
    position: relative;
    font-family: PingFangTC;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.more01 img{
    position: absolute;
    top: 26%;
    right: -8%;
    width: 20px;
    height: 20px;
   
}

.more01{
    margin: 40px auto 100px auto;  
}


/* /////最新漁貨////// */


.item_tittle{
   text-align: center;
    margin: 80px auto 0 auto;
  
 
}

.item_tittle h1{
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;

}


.item_intro{
   
    cursor: pointer;
    position: relative;
    margin: 50px auto 0 auto;
    width: 90%;
    height: 320px;
}

.item_intro:hover{
    transition: 0.5s;
    box-shadow: 2px 6px 15px 0 rgba(173, 173, 173, 0.5);

}

.item_pic{

    width: 100%;
    height: 80%;
    overflow: hidden;
    

}
.item_title{
    position: absolute;
    background-color:white;
    border:solid 0.1px var(--grey);
    height: 20%;
    width: 100%;

    bottom:0;
    
}

.item_title h3{
    padding: 25px;
    font-family: PingFangTC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transform: translateY(-20px);
  
  }

.add_btn{
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: var(--light_blue);
    border-radius: 100%;
    top: 58%;
    right: 2%;
}

.add_btn .fa-cart-plus{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
    
    
 }

 .item_detail{

    width: 60%;
    text-align: center;
    margin: 15px auto 0 auto;
 
}

.item_detail p{
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    color: #000000;
  
  }
  
 
.view_more_btn{
    cursor: pointer;
    margin: 60px auto 0 auto;
    text-align: center;
    color:rgba(29, 30, 30, 0.55);
    width: 140px;
    
}
.view_more_btn p{
    transform: translateY(10px);
    font-size: 18px;
    border-bottom: solid 0.5px rgba(29, 30, 30, 0.55);
    padding-bottom: 5px;
    
}


/* ////海鮮管家////  */

.seafood_warp{
    margin: 0 auto;
    cursor: pointer;
    margin-top: 90px;
    width: 100%;
    height: 400px;
    background-image: url('../img/seafood.svg');
    background-size: cover;
    border: solid 3px rgba(23, 34, 61, 0.75);
    text-align: center;
}
.seafood_warp:hover{
    transition: 0.5s;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
}

.seafood_text h1{
    font-family: PingFangTC;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 80px;
}

.seafood_text p{
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 15px;
}
.more02{
    margin-top: 40px;
}
.more02 img{
    position: absolute;
    top: 20%;
    right: 18%;
    width: 20px;
    height: 20px;
}

/* ///注意事項//// */

.Caution_page{
    /* height: 100vh; */
}

.Caution_warp{
    text-align: center;
}

.Caution_warp h1{
    margin-top: 120px;
}

.Caution_content{
  
    word-break: break-all;
    color: rgba(0, 0, 0, 0.7);
    margin: 30px auto 0 auto;
    width: 75%;
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
  
}



.social_btn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;

}

.contact_btn{
    margin: 0 30px;
    color: rgba(0, 0, 0, 0.7);
}

.contact_intro{
    margin: 15px auto;
    text-align: center;

}

.contact_intro p{
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.line_btn{
    width: 200px;
}

.line_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #00d5a5;
    border-radius: 100%;
    
}


.line_pic img{
    position: absolute;
    width: 45px;
    height: 45px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}



.line_intro h3{
 font-family: PingFangTC;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;

}


.phone_btn{
    width: 200px;
}
.phone_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #d084e4;
    border-radius: 100%;
}

.phone_pic .fa-phone-alt{
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%,-50%) ;
}



.phone_intro h3{
    font-family: PingFangTC;
     font-size: 24px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: center;
   
}



/* //////預約頁面//////  */

.Apppointment_page{
    background-color: var(--sea_blue);
}

.Apppointment_title{
    /* overflow: hidden; */
    position: relative;
    width: 80%;
    height: 140px;
    margin: 80px auto 0 auto;
 
    padding: 0;

}


.title_up{
    position: absolute;
    right: 2%;
    width: 50%;
    height: 90%;
    
}
.title_bg_up{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color:#ffff;
    transform: skew(-35deg);

}

.title_up_text{
    transform: skew(35deg) translateY(-8px);
     padding: 10px;
}

.title_up_text h1{
    font-family: PingFangTC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 150px;
    color: black;
    
    
}
.title_up_text h1 span{
    opacity: 1;
    color:#0077ff;
}

.title_up_text .zero-text{
    font-size: 30px;
    font-family: Menlo-Regular;

}

.title_up_text h1:nth-of-type(2){
    margin-left: 130px;
}
.title_up_text h1:nth-of-type(3){
    margin-left: 100px;
}


.title_down{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: #fff773;
    transform: skew(-35deg);

}

.title_down_text{
    transform: skew(35deg);
    margin-left: 120px;
    margin-top: 20px;
}

.title_down_text h1{
  font-family: PingFangTC;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  
}
.title_down_text h1:nth-of-type(2){
    margin-left: 20px;

}

.title-icon01{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;

    transform: translateY(-10px);
}


.title-icon02{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
    transform: translateY(-10px);
}

.Apppointment_intro{
    position: relative;
    padding: 20px;
    margin-top: 60px;
    height:720px;
    background-color: #fff;
    box-shadow: 2px 8px 15px 0 rgba(173, 173, 173, 0.5);
    margin-bottom: 80px;

}

.intro_pic{
    z-index: 97;
    width: 55%;
    height: 100%;
}



.intro_pic_left{
    
    position: relative;
    
    overflow: hidden;
    width: 50%;
    height: 100%;
    /* background-color: green; */

}

.tag{
    z-index: 98 ;
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 0;
    left: 20px;
    background-color: white;
    transform: skew(-35deg);


}

.tag_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(35deg);

}

.tag_icon{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    
}
.tag_icon01{
    background-size: cover;
   background-image: url('../img/tra-icon-01.svg');
   background-repeat: no-repeat;
    
}
.tag_icon02{
    background-size: cover;
   background-image: url('../img/tra-icon-02.svg');
   background-repeat: no-repeat;
    
}
.tag_icon03{
    background-size: contain;
   background-image: url('../img/tra-icon-03.svg');
   background-repeat: no-repeat;
    
}
.tag_icon04{
    background-size: cover;
   background-image: url('../img/tra-icon-04.svg');
   background-repeat: no-repeat;
    
}


.tag_content p{
    margin-top: 15px;
    font-family: PingFangTC;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

}




.intro_pic_left img{
    width: 160%;
    height: 100%;
    transform: translateX(-120px);

}
.intro_pic_right{
    position: relative;
    width: 50%;
    height: 100%;

}

.pic_right{
    overflow: hidden;
    width: 100%;
    height: 33.3%;

}

.right01{
    position: relative;
}

.right01 img{
    transform: translateY(-100px);
 
 }

.right02{
    position: relative;
}

.right02 img{
    width: 120%;
    transform: translate(0px,-30px)
 
 }
 
.right03{
    position: relative;
}

.right03 img{
    width: 120%;
   transform: translate(0px,-80px)

}


.intro_text{
    overflow: hidden;
    width: 45%;
    height: 100%;
    text-align: center;

}

.intro_text_content{
    margin: 60px auto 0 auto ;
    width: 80%
    
}

.intro_text_content h1{
    font-family: PingFangTC;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
 
}

.intro_text_content p{
 font-family: PingFangTC;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  /* margin-top: 20px; */
  

}

.intro_text_content p:nth-of-type(1){
    margin-top: 40px;

}

.more03 img{
    position: absolute;
    top: 26%;
    right: 18%;
    width: 20px;
    height: 20px;
   
}

.more03{
    margin: 0px auto 0px auto;  
}


/* //////預約地圖介紹/////// */


.Apppointment_map{
    background-color: var(--sea_blue);
    position: relative;
    width: 100%;

}

.Apppointment_map::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -32vh;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: white;
    background-size: 100% 100vh;
    background-image: url('../img/map1960.png');
    background-repeat: no-repeat;
    background-position: center;

     
}


.map_content{
    z-index: 99;
    padding: 15px;
    /* background-color: red; */
    width: 45%;
    text-align: center;

}

.map_content_text p{
  font-family: PingFangTC;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  

}

.more04 img{
    position: absolute;
    top: 26%;
    right: 18%;
    width: 20px;
    height: 20px;
   
}
.more04{
    margin-top: 30px;
}


.map_videos{
    /* overflow: hidden; */
    z-index: 99;
    width: 55%;
    
}


.m_video{
    position: relative;
    width: 288px;
    height: 205px;
    background-image: url('../img/videoframe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.m_video iframe{
   border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}


.m_video01{
    transform: translate(60%,0%);   
}
.m_video02{
    transform: translate(18%,25%);
}
.m_video03{
    transform: translate(115%,10%);
    margin-bottom: 30px;
}

/* /////部落格頁///// */

.Blog_Page{
    /* height: 10000px; */
    margin-top: 32vh;
}

.Blog_Page_title{
    text-align: center;
    margin-top: 60px;

}
.main_artical{
    position: relative;
    padding: 0;
    height: 480px;
    align-items: center;
    margin-top: 60px;
  
}
.main_artical_pic{
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding: 0;
    width: 50%;
    box-shadow: 4px 8px 20px 0 rgba(23, 34, 61, 0.2);
}

.main_artical_pic img{
    transform: translate(-80px,-60px);
    width: 140%; 
}


.main_artical_content{
    position: absolute;
    right: 0;
    height: 90%;
    width: 60%;
}

.main_artical_content_outline{
   
    position: relative;
    padding: 0;
    height: 100%;
    border-top: solid 4px  var(--sea_blue);
    border-bottom: solid 4px  var(--sea_blue);
    border-right: solid 4px  var(--sea_blue);

}

.read_more{
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 38%;
    margin: 0 auto;
    font-family: PingFangTC;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    text-align: center;
    width: 300px;
    height: 60px;
    background-color: var(--sea_blue);
}

.read_more p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.main_artical_content_text{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);  
    width: 70%;
    
}
.main_artical_content_text h2{
    margin-top: 20px;
}

.content_tag{
    position: relative;
    padding: 15px;
    height: 40px;
    margin-right: 32px;
}

.content_tag p{
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.content_tag01{
    background-color: #ff8e00;
}

.content_tag01::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-orange.svg');
    background-repeat: no-repeat;

}

.content_tag02{
    background-color: #5aa700
}

.content_tag02::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-olive.svg');
    background-repeat: no-repeat;

}

.artical_warp{
    margin-top: 100px;

}

.artical{
    position: relative;
    height: 600px;
}

.artical_pic{
    position: absolute;
    top: 0;
    left: 15px; 
    width: 92%;
    height: 45%;
    overflow: hidden;
    box-shadow: 4px 8px 20px 0 rgba(23, 34, 61, 0.2);
}

.artical_pic img{ 
   transform: scale(1.3) translateY(20px);

}

.artical_content_outline{
    overflow: hidden;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    left: 35px; 
    margin: 0 auto;
    width: 82%;
    height: 55%;
    border-left: solid 4px  var(--sea_blue);
    border-bottom: solid 4px  var(--sea_blue);
    border-right: solid 4px  var(--sea_blue);
    font-family: PingFangTC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;

}

.content_tag03{
    background-color: #d559f5;
}

.content_tag03::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-purple.svg');
    background-repeat: no-repeat;

}

.content_tag04{
    background-color: #0077ff
}

.content_tag04::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-blue.svg');
    background-repeat: no-repeat;

}

.content_tag05{
    background-color:#ff2d2d
}

.content_tag05::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-red.svg');
    background-repeat: no-repeat;

}

.content_tag06{
    background-color: #00d5a5
}

.content_tag06::after{
    content: '';
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    background-image: url('../img/tag-green.svg');
    background-repeat: no-repeat;

}


.more05 img{
    position: absolute;
    top: 26%;
    right: 15%;
    width: 20px;
    height: 20px;
   
}
.more05{
    text-align: center;
    margin: 80px auto 80px auto;
   
}
