*{
    /* outline: solid var(--light_blue) 1px; */
}
/* 
.seafood_bg{  
    position: fixed;
    width: 100%;
    height: 300px;
    background-color: red;
    z-index: 996;
} */

/* /////////////////////Landingpage//////////////// */
.Landing_page{
    z-index: 995;
    margin-top: 140px;
    width: 100%;
    height: calc(100vh - 140px);
}


@media (max-width: 991px) {
    .Landing_page{
        margin-top: 50px;
        height: calc(100vh - 50px);
    }

}


.Landingpage_video_warp{
    position: fixed;
    width: 100%;
    height: 100%;
}


.Landingpage_video_warp video{
    width: 100%;
    height: 100%;
    object-fit: cover
}


.Landingpage_content_warp{
    position: absolute;
    z-index: 996;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.video_outside_bg{
   
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    background-color: #384982
}

.Logo_pic{
    width: 250px;
    margin: 0 auto;
}


  
.Landing_page_content{
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    margin-top: -100px;
    

}

.Landing_page_content .sub_title{
    margin-top: 20px;
    overflow: hidden;
    height: 40px;
}

.Landing_page_content .big_title{
    margin-top: 10px;
    overflow: hidden;
    height: 60px;
}


.sub_title h3{
    
    font-size: 3.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;


}

.big_title h1{
 
    font-size: 4.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;


}

.Landing_page_content .md-text{
    margin-top: 40px;
   justify-content: space-between;
   width: 13%;
   align-items: center;
   font-size: 1.6rem;
}
.Landing_page_content .md-line{
    margin-top: -10px;
    width: 50px;

    border-bottom: 0.5px solid white;

}
.Landing_page_content .bt-text{
    margin-top: 5px;
    justify-content: space-around;
    width: 20%;
    font-size: 1.6rem;
}
.Landing_page_content .bt-text p{
    cursor: pointer;
   padding: 0 12px;
    border: 0.5px solid white;
    border-radius: 12.5px;

}
.Landing_page_content .bt-text p:hover{
    transition: 0.5s;
    background-color: white;
    border: 0.5px solid transparent;
    color:black;
   
}

@media (max-width: 991px) {

    .Logo_pic{
        width: 250px;
        margin: 0 auto;
    }

    .Landing_page_content{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 994;
        width: 100%;
        height: 100Vh;
        text-align: center;
        color:white;
        margin-top: -150px;
    
    }

    .Landing_page_content .sub_title{
        margin-top: 20px;
        overflow: hidden;
        height: 28px;
    }
    
    .Landing_page_content .big_title{
        margin-top: 10px;
        overflow: hidden;
        height: 40px;
    }

    .sub_title h3{
    
        font-size: 2rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.6px;
        text-align: center;
    
    
    }

    .big_title h1{
 
        font-size: 3.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
    
    
    }

    .Landing_page_content .md-text{
        margin-top: 20px;
       justify-content: space-between;
       width: 24%;
       align-items: center;
       font-size: 1.4rem;
    }

    .Landing_page_content .md-text p{
       align-items: center;
       font-size: 1.6rem;
    }

    .Landing_page_content .md-line{
        margin-top: -10px;
        width: 50px;
        border-bottom: 0.5px solid white;
    
    }
    .Landing_page_content .bt-text{
        margin-top: 10px;
        justify-content: space-around;
        width: 32%;
        
    }
    .Landing_page_content .bt-text p{
        font-size: 1.6rem;
        cursor: pointer;
       padding: 0 12px;
        border: 0.5px solid white;
        border-radius: 12.5px;
    
    }

}


@media (max-width: 480px) {

    .Logo_pic{
        width: 200px;
        margin: 0 auto;
    }

    .Landing_page_content{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 994;
        width: 100%;
        height: 100Vh;
        text-align: center;
        color:white;
        margin-top: -100px;
    
    }

    .Landing_page_content .sub_title{
        margin-top: 20px;
        overflow: hidden;
        height: 28px;
    }
    
    .Landing_page_content .big_title{
        margin-top: 10px;
        overflow: hidden;
        height: 40px;
    }

    .sub_title h3{
    
        font-size: 2rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.6px;
        text-align: center;
    
    
    }

    .big_title h1{
 
        font-size: 3.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
    
    
    }

    .Landing_page_content .md-text{
        margin-top: 20px;
       justify-content: space-between;
       width: 48%;
       align-items: center;
       font-size: 1.4rem;
    }

    .Landing_page_content .md-text p{
       align-items: center;
       font-size: 1.6rem;
    }

    .Landing_page_content .md-line{
        margin-top: -10px;
        width: 50px;
        border-bottom: 0.5px solid white;
    
    }
    .Landing_page_content .bt-text{
        margin-top: 10px;
        justify-content: space-around;
        width: 80%;
        
    }
    .Landing_page_content .bt-text p{
        font-size: 1.6rem;
        cursor: pointer;
       padding: 0 12px;
        border: 0.5px solid white;
        border-radius: 12.5px;
    
    }

}


/* ///////////////////////////// */
.animate__animated.animate__fadeInUp{
   
    --animate-duration: 2s;
  }


.animate__animated.animate__fadeIn {
    --animate-duration: 1s;
}

/* ////////內容開始////// */


.content_warp{
    /* position: fixed; */
    z-index: 997;
    overflow: hidden;

}

/* /////第一頁////// */
.First_page{
    background-color: #fff;
    /* box-shadow: 0px 10px 30px var(--grey); */
    
}

.home_intro{
    opacity: 0;
    margin-top: 50px;
    text-align: center;
}

.home_intro_subtitle{
    margin: 0 auto;
    width: 200px;
    position: relative;
}
.home_intro_subtitle h2{
  
  font-size: 2.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.home_intro h2::after{
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/top-icon.svg');
    background-repeat: no-repeat;
    top: 0;
    right: -40px;
    width: 50px;
    height: 50px;

}

.home_intro_title{
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home_intro_title h1{
    position: absolute;
    width: 45%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
  
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
}

.title_line{
    width: 100%;
    border-bottom: solid 0.3px var(--grey);
 
}

.home_intro p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
    margin: 50px auto 0 auto;
    width: 70%;


}

@media (max-width: 992px) {

    .home_intro{
        margin-top: 50px;
    }
    
    
    
    .home_intro_subtitle h2{
      font-size: 1.8rem;
    }

    .home_intro h2::after{
        right: -20px;
      
    }

    .home_intro_title{
        margin-top: 50px;
       

    }
   
    
    .home_intro_title h1{
        width: 80%;
        font-size: 2.2rem;
       
    }

    .home_intro p{
        font-size: 1.4rem;
        width: 98%;
     }

    
}

@media (max-width: 480px) {

    .home_intro{
        margin-top: 25px;
    }
    
    
    
    .home_intro_subtitle h2{
      font-size: 1.8rem;
    }

    .home_intro h2::after{
        right: -20px;
      
    }

    .home_intro_title{
        margin-top: 35px;
       

    }
   
    
    .home_intro_title h1{
        width: 80%;
        font-size: 2.2rem;
       
    }

    .home_intro p{
        font-size: 1.4rem;
        width: 98%;
     }

}

.intro_btn_warp{
    margin-top: 60px;
    padding-bottom: 80px;
   
}

.intro_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_btn p{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}



.intro_btn_icon{
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
   
}

.intro_btn_icon:hover{
    transition: 0.8s;
    background-color: var(--light_blue);

}



.intro_btn_icon h5{
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;

}


.intro_icon_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 120px;
    /* background-color: red; */
}

.intro_icon_pic img{
    height: 100%;
    
}

.icon_pic03 img{
   transform: scale(1.2) translateY(10px);
}

.intro_icon02 .fa-shopping-basket{
    font-size: 100px;
}



@media (max-width: 992px) {

    .intro_btn_warp{
        margin-top: 40px;
       padding-bottom: 60px;
    }

    .intro_btn_icon{
        cursor: pointer;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: var(--dark_blue);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color: white;
       
    }

    .intro_btn_icon h5{
        font-size: 1.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
    
    }

    .intro_icon_pic{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        height: 60px;
        /* background-color: red; */
    }

    .intro_icon02 .fa-shopping-basket{
        font-size: 60px;
    }


    .icon_pic03 img{
        transform: scale(1.2) translateY(3px);
     }

 
    
}
@media (max-width: 480px) {

    .intro_btn_warp{
        margin-top: 40px;
        padding-bottom: 60px;
    }


    .intro_btn p{
        margin-top: 20px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    

    .intro_btn_icon{
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: var(--dark_blue);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color: white;
       
    }

    .intro_btn_icon h5{
        font-size: 1.4rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
    
    }

    .intro_icon_pic{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        height: 50px;
        /* background-color: red; */
    }

    .intro_icon02 .fa-shopping-basket{
        font-size: 50px;
    }


    .icon_pic03 img{
        transform: scale(1.5) translateY(3px);
     }

  
    
  


} 


/* /////最新漁貨////// */

.Products_page{
    background-color: white;
   padding-bottom: 60px;
}

.product_tittle{
  opacity: 0;
  
   text-align: center;
   margin: 80px auto 0 auto;
  
 
}

@media (max-width: 992px) {
    .product_tittle{
       
       text-align: center;
       margin: 80px auto 15px auto;
    
    }
    
}
@media (max-width: 480px) {

    .product_tittle{
       text-align: center;
       margin: 80px auto 15px auto;
      
     
    }

}


.product_tittle h1{
  
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;

}

.homeProducts_warp{
    margin-top: 40px;
}


.view_more_btn{
    cursor: pointer;
    margin: 0px auto 80px auto;
    text-align: center;
    color:rgba(29, 30, 30, 0.55);
    width: 140px;
    
}
.view_more_btn p{
    transform: translateY(10px);
    font-size: 1.8rem;
    border-bottom: solid 0.5px rgba(29, 30, 30, 0.55);
    padding-bottom: 5px;
    
}

.view_more_btn  .fa-caret-down{
  font-size: 30px;
}

@media (max-width: 992px) {

    .view_more_btn{
        cursor: pointer;
        margin: 0px auto 0 auto;
        text-align: center;
        color:rgba(29, 30, 30, 0.55);
        width: 140px;
        
    }

}
@media (max-width: 480px) {
   
    .view_more_btn{
        cursor: pointer;
        margin: 0px auto 0 auto;
        text-align: center;
        color:rgba(29, 30, 30, 0.55);
        width: 140px;
        
    }

}

/* ////////////觀光/包船資訊//////////// */

.Tourist_page{
    position: relative;
    width: 100%;
    /* height: 200vh; */
    background-image: url('../img/seabg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--dark_blue);
    background-position: center center;
    padding-bottom: 200px;

}

.Tourist_page_title{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.Tourist_page_title h1{
    position: relative;
  font-size: 3.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
 

}
.Tourist_page_title h1::before{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -75px;
    width: 80px;
    height: 80px;
    background-image: url('../img/icon-fish2.svg');
    background-size: contain;
 

}

.Tourist_page_intro{
    margin: 40px auto 0 auto;
    text-align: center;
}

.Tourist_page_intro p{

    font-size: 2rem;
    font-weight: 350;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: white;

}


.Tourist_page_pic{
    margin-top: 40px;
    background-image: url('../img/tourad.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    background-position: center center;
}



.more_btn_yellow{
    padding-right: 35px;
    margin: 60px auto 0 auto;
    width: 320px;
    height: 60px;
    background-color: #fff773;
    border-radius: 30px;
    cursor: pointer;

    
}


.more_btn_yellow p{
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: black;
    margin: 0 auto ;
    
}


.more_btn_yellow p::after{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../img/right-arrow-b.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 8px;
    right: 20px;

}

@media (max-width: 992px) {
    .Tourist_page{
    
        padding-bottom: 80px;
    
    }

    .more_btn_yellow{
        width: 250px;
        height: 50px;
        background-color: #fff773;
        border-radius: 30px;
        cursor: pointer;
    
        
    }
   
    
    .more_btn_yellow p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: black;
        margin: 0 auto ;
        
    }
    
}

@media (max-width: 480px) {
    .Tourist_page{
    
        padding-bottom: 80px;
    
    }

    .Tourist_page_title h1::before{
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        left: -50px;
        width: 70px;
        height: 70px;
        background-image: url('../img/icon-fish2.svg');
        background-size: contain;
     
    
    }

    .Tourist_page_intro p{

        font-size: 1.6rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
        color: white;
    
    }

    .Tourist_page_pic{
        margin-top: 20px;
        background-image: url('../img/tourad.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        background-position: center center;
        
    }
   

    .more_btn_yellow{
        width: 250px;
        height: 50px;
        background-color: #fff773;
        border-radius: 30px;
        cursor: pointer;
    
        
    }

    
    .more_btn_yellow p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: black;
        margin: 0 auto ;
        
    }

    .more_btn_yellow p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-b.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 5px;
        right: 10px;
    
    }

    
    

}

/* ////海上日記////// */

.Blog_Page{
    margin: 200px auto 0 auto;
    height: 700px;
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
}

.Blog_Page_pic{
    height: 100%;
    background-image: url('../pictures/mask02.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.Blog_Page_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_text_content{
    margin: 60px auto 0 auto ;
    width: 70%;
    text-align: center;
 
    
}

.intro_text_content h1{

    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
 
}

.intro_text_content p{
   
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
 
  
}

.intro_text_content p:nth-of-type(1){
    margin-top: 40px;

}

.more01{
    padding-right: 35px;
    margin: 40px auto 0px auto;  
}

.more01 p::after{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/right-arrow-w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 8px;
    right: 36px;

}

@media (max-width: 992px) {

    .Blog_Page{
        margin: 80px auto 0 auto;
        height: 800px;
        background-color: #fff;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .Blog_Page_pic{
        height: 100%;
        background-image: url('../pictures/mask02.jpg');
        background-size: cover;
        background-position: center -100px;
        
    
    }

    .intro_text_content{
        margin: 35px auto 0 auto ;
        width: 90%
        
    }
    
    .intro_text_content h1{
    
        font-size: 2.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 6px;
     
    }
    
    .intro_text_content p{
     
      font-size: 1.6rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      /* margin-top: 20px; */
      
    
    }
    
    .intro_text_content p:nth-of-type(1){
        margin-top: 25px;
    
    }

    .more01{
        padding-right: 35px;
        margin: 40px auto 0px auto;  
    }
    
    .more01 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 20px;
    
    }

}
@media (max-width: 480px) {

    .Blog_Page{
        margin: 80px auto 0 auto;
        height: 820px;
        background-color: #fff;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .Blog_Page_pic{
        height: 100%;
        background-image: url('../pictures/mask02.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-height: 293px;
    
    }
    

    .intro_text_content{
        margin: 30px auto 0 auto ;
        width: 90%
        
    }
    
    .intro_text_content h1{
    
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 6px;
     
    }
    
    .intro_text_content p{
     
      font-size: 1.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      /* margin-top: 20px; */
      
    
    }
    
    .intro_text_content p:nth-of-type(1){
        margin-top: 20px;
    
    }

    .more01{
        padding-right: 35px;
        margin: 30px auto 0px auto;  
    }
    
    .more01 p::after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../img/right-arrow-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 20px;
    
    }

}


/* ////////Line購物社團//////  */

  .LineGroup_page{
      position: relative;
      background-image: url('../img/addline-bg.jpg');
      width: 100%;
      height: 560px;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
 
  }

  .LineGroup_page_fillter{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: var(--dark_blue)

  }


  .LineGroup_page_content{
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .LineGroup_page_content h1{
    font-size: 3.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }
  .LineGroup_page_content p{
      margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .line_btn_lg{
      margin-top: 50px;
      width: 320px;
      height: 60px;
      border-radius: 30px;
      background-color: #00d5a5;
      border: solid 2px #ffffff;

  }

 

  .line_btn_lg p{
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 0 auto ;
    padding-left: 50px;

  }


  .line_btn_lg p::before{
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 50px;
      width: 35px;
      height: 35px;
      background-image: url('../img/line.svg');
      background-size: contain;
  }

