*{
    outline: solid var(--light_blue) 1px;
}


/* ////////////////////////// */

.testearea{
   
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url('../img/princess_boat.jpg');
    margin-top: 80px;
    
   
}


.testearea::before{
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 80px;
   background-color: blue;
   top: -80px;
   left: 0;

}