*{
    outline: solid var(--light_blue) 1px;
}

body,html{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2; 
}

p {
    margin: 0;
}

a {
    color:inherit;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
select {
    outline: none;
}

ul {
    margin-bottom: 0;
}

:root {
    --light_blue: rgba(0, 165, 255, 0.85);
    --dark_blue: #384982;
    --sea_blue: #abd5e3;
    --grey:  #c0c0c0;
 
 }


.more_btn{
    width: 320px;
    height: 60px;
    background-color: var(--dark_blue);
    border-radius: 30px;
    cursor: pointer;

}

.more_btn:hover{
    transition: 0.5s;
    background-color: var(--light_blue)
}

.more_btn p{
    display: flex;
    position: relative;
   
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////// */
.Apppointment_map{
    background-color: var(--sea_blue);
    position: relative;
    width: 100%;

}

.Apppointment_map::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: 550px;
    z-index: 98;
    background-color: white;
    background-size: contain;
    background-image: url('../img/new_map.png');
    background-repeat: no-repeat;
    background-position: top;

     
}


.map_content{
    z-index: 99;
    padding: 15px;
    /* background-color: red; */
    width: 45%;
    text-align: center;

}

.map_content_text p{
 
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  

}

.more04 img{
    position: absolute;
    top: 26%;
    right: 18%;
    width: 20px;
    height: 20px;
   
}
.more04{
    margin-top: 30px;
}


.map_videos{
    /* overflow: hidden; */
    z-index: 99;
    width: 55%;
    
}


.m_video{
    position: relative;
    width: 288px;
    height: 205px;
    background-image: url('../img/videoframe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.m_video iframe{
   border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}


.m_video01{
    transform: translate(60%,0%);   
}
.m_video02{
    transform: translate(18%,25%);
}
.m_video03{
    transform: translate(115%,10%);
    margin-bottom: 30px;
}