*{
    /* outline: solid var(--light_blue) 1px; */
}


/* ////////////////////////// */



.box{
    width: 500px;
    height: 500px;
    background-color: red;
}


.content{
    cursor: pointer;
    height: 50%;
    width: 50%;
    background-color: cyan;
}