/* /////////關於我們標題////////// */
.About_title{
    position: relative;
    margin-top: 140px;
}


.About_title_warp{
    width: 100%;
    height: 360px;
    background-image: url('../images/about-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  
}

.About_title_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #384982 ;
}


.About_content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About_title_text{
   overflow: hidden;
    height: 50px;
}

.About_title_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}



@media (max-width: 1024px) {

    .About_title{
        margin-top: 50px;
    }
    .About_title_warp{
        width: 100%;
        height: 300px;
        background-image: url('../images/about-top.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }

}

@media (max-width: 768px) {

    .About_title{
        margin-top: 50px;
    }

    .About_title_warp{
        width: 100%;
        height: 250px;
        background-image: url('../images/about-top.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }

}

/* 關於我們引言 */
.About_intro{
    width: 100%;
    height: 650px;
    position: relative;
}


.About_intro_background{
    position: relative;
    width: 100%;
    height: 100%;
}

.introBg_left{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;

}

.introBg_right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%
   
    
}


.introIcon{
    position: absolute;
    width: 150px;
    height: 160px;
    bottom: 100px;
    right: 250px;
    background-image: url('../images/Page\ 1.svg');
    background-repeat: no-repeat;
}

.About_intro_text{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
}

.About_intro_text h1{
    font-family: 'Noto Serif TC', serif;
    font-size: 3rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 65px;

}

.About_intro_text span{
    font-size: 4.2rem;
}


.About_intro_text p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}


@media (max-width: 992px) {

    .About_intro_text h1{

        font-size: 2rem;
        margin-bottom: 30px;
    
    }

    .introIcon{
        position: absolute;
        width: 90px;
        height: 100px;
        bottom: 40px;
        right: 160px;
        background-image: url('../images/Page\ 1.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }


    .About_intro_text{

        top: 40%;
        width: 95%;
    }




}

@media (max-width: 480px) {


    .About_intro{
        width: 100%;
        height: 550px;
        position: relative;
    }


    .introBg_left{
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 50%;
    
    }


    .introBg_right{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%
       
        
    }


    .introIcon{
        position: absolute;
        width: 90px;
        height: 100px;
        bottom: 40px;
        right: 160px;
        background-image: url('../images/Page\ 1.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    
    .About_intro_text{

        top: 40%;
        width: 95%;
    }

    .About_intro_text h1{

        font-size: 2rem;
  
        margin-bottom: 30px;
    
    }

    .About_intro_text span{
        font-size: 3rem;
    }

    .About_intro_text p{
        font-size: 1.6rem;
    }
    



}

.About_Story{
    position: relative;
    background-color: var(--dark_blue);
    margin-bottom: 85px;
}

.About_Story::after{
    position: absolute;
    content: '';
    bottom:  -120px;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: url('../images/about-bg03-1920.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

   
}


.About_Story_warp{
    padding: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}


.About_Story_text p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    text-align: center;
}



@media (max-width: 992px) {

    .About_Story{
        margin-bottom: 40px;
    }

    .About_Story_warp{
        padding: 40px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
     }


     .About_Story::after{
        position: absolute;
        content: '';
        bottom:  -30px;
        left: 0;
        width: 100%;
        height: 30px;
        background-image: url('../images/about-bg03-1920.svg');
        background-size: cover;
        background-repeat: no-repeat;
  
    }


}

@media (max-width: 480px) {




    .About_Story{
        margin-bottom: 20px;
    }


    .About_Story::after{
        position: absolute;
        content: '';
        bottom:  -25px;
        left: 0;
        width: 100%;
        height: 25px;
        background-image: url('../images/about-bg03-1920.svg');
        background-size: cover;
        background-repeat: no-repeat;
  
    }


    .About_Story_warp{
        padding: 40px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
     }
  


    .About_Story_pic{
        margin: 60px 0px;
    }


}


/* 關於我們內容 */
.About_text{
    width: 100%;
    min-height: 800px;
    padding-top: 80px;
}



.About_text_title{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    width: 40%;
    margin: 0 auto;
}

.About_text_title::after{

    position: absolute;
    content: '';
    top: -18px;
    width: 60px;
    height: 60px;
    background-image: url('../images/about-circle01.svg');
    background-size: contain;
    background-repeat: no-repeat;
   
}

.About_text_title h1{
    font-size: 3.6rem;
    text-align: right;
    font-weight: 400;
   
}
.About_text_title h2{
    font-size: 3rem;
    font-weight: 400;
   
}

.About_text_intro{
    position: relative;
    width: 40%;
    text-align: center;
    margin: 120px auto 200px auto;
}

.About_text_intro h4{
    font-size: 1.8rem;
}

.About_text_intro::after{
    position: absolute;
    content: '';
    width: 190px;
    height: 190px;
    right: 0;
    top: -60px;
    background-image: url('../images/about-circle02.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.About_text_pic_warp{
   
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.About_text_pic{
    margin-bottom: 120px;
}


.text_pic{
    height: 320px;
}

.text_pic img{
    height: 100%;
    object-fit: contain;
}

.text_pic_intro{
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 992px) {

    .About_text_title{
        position: relative;
        font-family: 'Noto Serif TC', serif;
        width: 60%;
        margin: 0 auto;
    }

    .About_text_intro{
        position: relative;
        width: 50%;
        text-align: center;
        margin: 120px auto 100px auto;
    }


    .About_text_pic{
        margin-bottom: 80px;
    }


    .text_pic{
        height: 240px;
    }

    .text_pic_intro{
        margin-top: 20px;
        text-align: center;
    }
    

}
@media (max-width: 480px) {

    .About_text_title{
        position: relative;
        font-family: 'Noto Serif TC', serif;
        width: 95%;
        margin: 0 auto;
    }


    .About_text_title h1{
        font-size: 3.2rem;
        text-align: right;
        font-weight: 400;
       
    }

    .About_text_intro{
        position: relative;
        width: 90%;
        text-align: center;
        margin: 120px auto 150px auto;
    }



    .About_text_pic_warp{
        margin: 80px auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }


    .About_text_pic{
        margin-bottom: 80px;
    }
   
    .text_pic_intro{
        margin-top: 20px;
        text-align: center;
    }
    


}


.About_text_slogan{
    width: 90%;
    height: 700px;
    background-image: url('../images/about-bg04.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: hidden;
    margin: 0 auto 100px auto;
    padding-top: 150px;
}

.About_text_slogan p{ 
    font-size: 1.6rem;
    font-family: Helvetica;
    font-weight:  330;
    margin-bottom: 60px;
}

.slogan_box{
    width: 40%;
    height: 180px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    font-family: Helvetica;
}

.slogan_pic{
    width: 150px;
}

.slogan_text h2{
    
    font-weight: 300;
    font-size: 3.2rem;

}
.slogan_text h3{
    
    font-weight: 300;
    font-size: 2.4rem;

}

@media (max-width: 992px) {


    .About_text_slogan{

        width: 95%;
        height: 500px;
        margin: 0 auto 60px auto;
        padding-top: 80px;
      
    }

    .slogan_box{
        width: 60%;
        height: 150px;
      
    }

}
@media (max-width: 480px) {


    .About_text_slogan{

        width: 100%;
        height: 500px;
        margin: 0 auto 0px auto;

        padding-top: 80px;
      
    }

    .slogan_box{
        width: 90%;
        height: 150px;
      
    }

    .slogan_pic{
        width: 100px;
    }


    .slogan_text h2{
    
        font-weight: 300;
        font-size: 3rem;
    
    }
    .slogan_text h3{
        
        font-weight: 300;
        font-size: 2.2rem;
    
    }


}