.Backstage{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.Backstage_bar{


    width: 15%;
    min-height: 100vh;
    background-color: var(--dark_blue);

}


.Backstage_content{

    width: 75%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

@media (max-width: 767px) { 

}

@media (max-width: 1025px) { 

    
}


.Backstage_bar_title{
    width: 100%;
    height: 10%;
    min-height: 100px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.Backstage_bar_title h1{
    font-weight: 300;
}

.Backstage_bar_list{
    width: 100%;
    height: 90%;
   
}

.Backstage_bar_list ul{


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    padding: 30px 50px;
    
}

.Backstage_bar_list li{

    margin: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0.4;
}

.list_up{

    opacity:1 !important;

}