.Backstage{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.Backstage_bar{


    width: 15%;
    min-height: 100vh;
    background-color: var(--dark_blue);

}


.Backstage_content{

    width: 85%;
    
    min-height: 100vh;
    padding: 60px ;
    /* display: flex;
    justify-content: center;
    align-items: center; */



}

.RWD_Backstage_barOpnen{
    transition: 0.8s;
    transform: translateX(-205px);
}

@media (max-width: 767px) { 

    .Backstage_bar{
        position: absolute;
        z-index: 999;
        right: 0;
        width: 55%;
        max-width: 205px;
        transition: 0.8s;
        right: -55%;
        min-height: 100vh;
    
    
    }
    
    
    .Backstage_content{
    
        width: 100%;
        min-height: 100vh;
        padding: 30px 10px 0 10px;
  
    
    
    
    }

}

@media (max-width: 1025px) { 

    
}


/* //////////////////////後台選單//////////////////// */

.Backstage_bar_title{
    width: 100%;
    height: 10%;
    height: 100px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.Backstage_bar_title h1{
    font-weight: 300;
}

.Backstage_bar_list{
    width: 100%;
    height: 90%;
   
}

.Backstage_bar_list ul{


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    padding: 30px 50px;
    
}

.Backstage_bar_list li{
    min-width: 80px;
    margin: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0.4;
}

.list_up{

    opacity:1 !important;

}

@media (max-width: 767px) { 




}

/* //////////////////////後台內容//////////////////// */

.RWD_btn{
    display: none;
    width: 40px;
    height: 40px;
    background-image: url('../images/icon-menu-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px;


}


@media (max-width: 767px) { 


    .RWD_btn{

        display: block;
    }
    
}


/*////////////////////訂單管理////////////////*/
.Order_Manage{

    /* display: none; */
}

/* 訂單工具 */
.Order_tool{
    display: flex;
    justify-content: flex-start

}


.search_bar{
    display: flex;
    width: 30%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #797979;
    overflow: hidden;
}

.search_bar input{

    min-width: 200px;
    width: 95%;
    height: 100%;
    border: transparent;
    border-radius: 0%;
    font-size: 1.6rem;

}
.search_bar button{
    min-width: 40px;
    width: 10%;
    height: 100%;
    color: white;
    background-color: #797979;

    
}


/* 狀態分類 */
.Order_Status_warp{

    margin-left: 60px;
    display: flex;

}


.Order_Status{
    width: 140px;
    height: 40px;
    font-size: 1.6rem;  
    border: solid 1px rgba(0, 0, 0, 0.31);

}


.Oder_Clear{
    width: 80px;
    height: 40px;
    font-size: 1.6rem;  
    background-color: white;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    margin-left: 20px;

}

@media (max-width: 767px) { 


    .Order_tool{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .search_bar{
        display: flex;
        width:100%;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #797979;
        overflow: hidden;
        margin-top: 30px;
    }


    .Order_Status_warp{


        margin-top: 10px;
        margin-left: 0;
        justify-content: space-between
    }


    .Order_Status{
        width: 240px;
        height: 40px;
        font-size: 1.6rem;  
        border: solid 1px rgba(0, 0, 0, 0.31);
    
    }


    .Oder_Clear{
        
        margin-left: 10px;
    
    }



}

.Order_Manage_content{
    width: 100%;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    border-top: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
}

.Manage_content_wrap{
   
    min-width: 1500px;
}



#list_info{
    width: 30%;
}
#list_seafood{
    width: 20%;
    border-left: solid 1px #dedede;
}
#list_fishbox{
    width: 20%;
    border-left: solid 1px #dedede;
}
#list_item{
    width: 20%;
    border-left: solid 1px #dedede;
}
#list_note{
    width: 10%;
    border-left: solid 1px #dedede;
}

#list_num{
    width: 44%;
    justify-content: flex-start;
    padding-left: 10px;
    
   
}
#list_name{
    width: 28%;
    justify-content: flex-start;
    padding-left: 10px;
    
}
#list_price{
    width: 28%;
    justify-content: flex-start;
    padding-left: 10px;
   
}

#list_status{
    width: 33.33%;
   

}

#list_payStatus{
    width: 33.33%;
   

}

#list_cargoStatus{
    width: 33.33%;
    

}

.Manage_cate_warp{
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dedede;
   
    
}

.Manage_subcate_warp{
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #dedede;
    
}

.list_top{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.ListItem{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}


.Manage_list_warp{
    width: 100%;
    
}

.Manage_list{
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #dedede;
   
}

.ListInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;

}

.ListInfo h4{
    font-size: 1.6rem;
}


#list_infoNum{
    width: 44%;

   
}
#list_infoName{
    width: 28%;
  
    
}
#list_infoPrice{
    width: 28%;
    
   

}

#list_infoPrice h4:nth-of-type(2)::before{

    content: 'NT$ ';
   
}

#list_infoNum h5{
    color: #9b9b9b;
}


.first_ship{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0.3;
    cursor: pointer;
}

/* .first_ship:hover{
    transition: 0.8s;
    opacity: 1;

} */

.ShipFirst{

    opacity: 1;

}


.order_detail{
    height: 25px;
    width: 50px;
    background-color: #9b9b9b;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
}


.orderNotice{
    color: #00d5a5
}

.paymentNotice{
    color: #dc7e00
}

.cargoNotice{
    
    color: #0077ff;
}

.finishNotice{
    opacity: 0.4;
    color: #aaaaaa;
}

/* ////////////////////單一訂單明細////////////////// */
.Each_orderDetail{
    display: none;
    margin-bottom: 30px;
}

.OD_title{
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dedede;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.OD_title h1{

    font-weight: 400;
    font-size: 1.8rem;
}

.cancleBtn{
    width: 90px;
    height: 35px;
    font-size: 1.4rem;
    border-radius: 6px;
    background-color: color;
    border: 1px solid black;
    background-color: #fff;

}

.cancleBtn:hover{

    background-color: rgb(165, 0, 0);
    border: 1px solid transparent;
    color: white;
    transition: 0.8s;
    
}

@media (max-width: 767px) {

    .OD_title{
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 0px 10px ;
        
    }
}


/* ///////訂單狀態/訂單資訊//////////// */

.E_orderDetail_warp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: cyan; */
}


@media (max-width: 1025px) {
    .E_orderDetail_warp{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .E_orderDetail_warp{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 0;
    }

}

/* /////////////訂單狀態//////////// */

.OrderStatus_warp{
    width: 30%;
}

.OrderStatus{
    width: 100%;
    margin-bottom: 60px;
}

.ODboxTitle{
    margin-bottom: 12px;
}

.ODboxTitle h3{

    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    color: #000;
    

}

.ODboxContent{
    position: relative;
    width: 100%;
    border: solid 1px #dedede;
    padding: 20px;

}

.staus_Line_warp{
    position: absolute;
    left: 20;
    width: 10px;
    height: 75%;
    display: flex;
    justify-content: center;
    


}

.status_line{
    width: 1px;
    height: 100%;
    background-color: #c0c0c0;
}

.finished_line{

    width: 1px;
    height: 0%;
    background-color: var(--dark_blue)
}



.order_staus_list{
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.staus_dot{
    width: 10px;
    height: 10px;
    background-color: #c0c0c0;
    border-radius: 100%;
    margin-right: 30px;
}


.staus_text h5{
    font-size: 1.2rem;
    color:#8c8c8c;
}

.staus_text h3{
    font-size: 1.6rem;
    color:#000000
}

@media (max-width: 1025px) {

    .OrderStatus_warp{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .OrderStatus{
        width: 30%;
    }
   
}

@media (max-width: 767px) {


    .OrderStatus_warp{
        flex-direction: column;
        margin: 0 auto;
        width: 95%;
    }


    .OrderStatus{
        width: 100%;
        margin-bottom: 40px;
    }


}


/* ///////////////訂單資訊///////////// */
.Orderinfo{


    width: 60%;

}

.Orderinfo h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    color: #000;
    margin-bottom: 12px;

}

.OD_status{
    width: 30%;
}

.OD_content{
    width: 100%;
    border: solid 1px #dedede;
    padding: 20px;
}


.order_staus_warp{
    position: relative;
    width: 100%;
    height: 420px;
    background-color:cyan;
    
    

}

.OD_info_item{
    padding-bottom: 20px;
    border-bottom:solid 1px #dedede;
    margin-bottom: 20px;

}
.OD_info_item:last-of-type{
    padding-bottom: 0px;
    border-bottom:solid 1px transparent;
    margin-bottom: 0px;

}
.OD_info_item h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    color: #7cafbf;

}

.OD_info_item h4{
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.88px;
    color: #000;
}

.OD_info_user{
    position: relative;
}

.editInfo_btn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    width: 80px;
    height: 35px;
    border-radius: 6px;
    color: white;
    font-size: 1.4rem;
}

.info_user_box{
   
    margin-bottom: 25px;
}
.infoUser_detail{
    

}

.info_user_box:last-of-type{
    margin-bottom: 0px;

}

.info_total_list{
    display: flex;
    justify-content: space-between;
}



.info_total_list h4:nth-of-type(2)::before{
    content: 'NT ';
}

.od_point h4:nth-of-type(2)::before{
    content: '- NT ';
}


.freeze_deliver{
    margin-bottom: 20px;
}
.freeze_deliver h4:nth-of-type(3)::before{
    content: '(冷凍) 希望到貨日：';
}
.home_deliver h4:nth-of-type(3)::before{
    content: '希望到貨日：';
}
.cargoID{
    display: flex;
    align-items: center;
}

.cargoID h4::before{
    content: '物流編號：';
}

.cargoID p{
    cursor: pointer;
    color: var(--orange);
    font-size: 1.4rem;
    margin-top: 3px;
    margin-left: 10px;

}

.cargoID .fa-share-square{
    margin-left: 3px;
}



@media (max-width: 1025px) {


    .Orderinfo{
        margin: 0 auto;
        width: 100%;

    }

    .OD_status{
        margin-bottom: 40px;
    }


    .OD_content{
        width: 100%;
        border: solid 1px #dedede;
        /* background-color: red; */
        padding: 20px 10px 20px 10px;
    }

    

    .info_total_list h4:nth-of-type(2){
        font-size: 1.2rem;
    }

    

    .OD_info_item{
        padding-bottom: 15px;
        border-bottom:solid 1px #dedede;
        margin-bottom: 15px;
    
    }

    .cargoID{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .cargoID p{
        cursor: pointer;
        color: var(--orange);
        font-size: 1.4rem;
        margin-top: 3px;
        margin-left: 0px;
    
    }
}
@media (max-width: 767px) {


    .Orderinfo{

        margin: 0 auto;
        width: 95%;
    
    }

   

    .OD_content{
        width: 100%;
        border: solid 1px #dedede;
        padding: 20px;
    }


    .cargoID{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .cargoID p{
        cursor: pointer;
        color: var(--orange);
        font-size: 1.4rem;
        margin-top: 4px;
        margin-left: 10px;
    
    }

    .editInfo_btn{
        width: 60px;
        height: 30px;
       
    }

    

}

/* /////出貨明細///// */
.Cargo_detail {
    width: 100%;
    margin-bottom: 100px;
}
.Cargo_detail h3{
    margin-bottom: 12px;

}
.cargo_detail_content{
    min-height: 140px;
    border: solid 1px #dedede;
    padding: 0 20px;
    margin-bottom: 40px;
}

.detail_title{

    display: flex;
    align-items:center;
    margin-top: 15px;
    
}

.detail_title h4{

    font-weight: 400;
    font-size: 1.8rem;
  
    margin-right: 10px;
   

}

.detail_title h5{
    font-weight: 400;
    color: var(--orange);


}
/* .detail_title h5::before{
    content: '備註：';
} */


.cargo_detail_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    border-bottom:  solid 1px #dedede;
    
}

.cargo_detail_list:last-of-type{
    border-bottom:  solid 1px transparent

}

.cargo_detail_head{
    display: flex;
    align-items: center;
    width: 50%;
    height: 140px;
}
.cargo_detail_pic{
    min-width: 80px;
    width: 80px;
    height: 80px;
    background:#9e9e9e;
    overflow: hidden;
}

.cargo_detail_pic img{
    object-fit: cover;
    height: 100%;
   

}
.cargo_detail_name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.cargo_detail_name h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}
.cargo_detail_name h4{
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7cafbf;


}

.cargo_detail_bottom{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.cargo_detail_bottom h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}


.cargo_detail_count h3::before{
    content: 'x';
}

.cargo_detail_price h3::before{
    content: 'NT ';
}

@media (max-width: 1025px) {

    .cargo_detail_head{
        display: flex;
        align-items: center;
        width: 80%;
        height: 140px;
    }

    .cargo_detail_name{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;

    }

    .cargo_detail_bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 25%;
        height: 80px;

    }
    .cargo_detail_price h3{
        transform: translateY(8px);
    }


}

@media (max-width: 767px) {

    .Cargo_detail {
        margin: 40px auto 0 auto;
        width: 95%;
    }


    .cargo_detail_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 180px;
        border-bottom:  solid 1px #dedede;
        
    }
   
}


.Custom_message h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    color: #000;
    margin-bottom: 12px;

}

.Custom_message_content{
    width: 100%;
    min-height: 140px;
    border: solid 1px #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Custom_message_content p{
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #000;
}

@media (max-width: 767px) {
    .Custom_message{
        padding: 0 15px;
    }
}

.Cargo_caution{
    margin-top: 40px;
}
.Cargo_caution h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    color: #000;
    margin-bottom: 12px;

}

.Cargo_caution_content{
    width: 100%;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
    padding: 30px;
}

.Cargo_caution_content p{
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #000;
}

.editCargo_update{
    width: 80px;
    height: 35px;
    background-color: black;
    border-radius: 6px;
    font-size: 1.4rem;
    color: white;

}


@media (max-width: 767px) {
    .Cargo_caution{
       
        padding: 0 15px;
    }
}



/* ////////////3.客戶管理///////// */
.Client_Manage{

    display: none;
}

/* 訂單工具 */
.Client_tool{
    display: flex;
    justify-content: space-between

}

@media (max-width: 767px) {

    .Order_tool{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


}


.Client_Manage_content{
    width: 100%;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.Client_content_wrap{
    min-width: 1140px;
}

.Client_cate_warp{

   
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dedede;
    padding: 0 10px;
}

.cateName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    /* padding-left: 10px; */
}


#clientName_top{
    width: 15%;
   
}

#clientEmail_top{
    width: 25%;
}

#clientLevel_top{
    width: 10%;

}

#clientODcount_top{
    width: 10%;
}

#clientPcount_top{
    width: 12%;
}

#clientCoin_top{
    width: 10%;

}

#clientPoint_top{
    width: 10%;
}

#clientMore_top{
    width: 8%
}


.Client_list{
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #dedede;
    padding: 0px 10px;
}


.C_Item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#clientName{
    width: 15%;
}

#clientEmail{
    width: 25%;
}

#clientLevel{
    width: 10%;

}

#clientODcount{
    width: 10%;
}

#clientPcount{
    width: 12%;
}


#clientPcount h4::before{
    content:"NT$ "
}

#clientCoin{
    width: 10%;

}

#clientPoint{
    width: 10%;
}

#clientMore{
    width: 8%
}

.client_detail{
    height: 25px;
    width: 50px;
    background-color: #9b9b9b;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
}



/* ////////////4.單一客戶管理///////// */

.Each_clientManage{
    display: none;
}


.CM_title{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.CM_title h1{
    font-weight: 400;
    font-size: 1.8rem;
}

.Delete_client{
    width: 90px;
    height: 35px;
    border-radius: 6px;

    background-color: white;
    border:solid 1px black;
    font-size: 1.4rem;

}




@media (max-width: 767px) {

    .CM_title{
        margin-top: 30px;

       padding: 0 10px;
    
    }




}


.Client_info_warp{
    
    margin-top: 40px;
    width: 100%;
    display: flex;
}


.Client_info_detail{
    
    width: 40%;
    border: 1px solid black;
    min-height: 240px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}



.Client_data{
    width: 70%;
    
}

.Client_row{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.Client_row h4{
    font-size: 1.6rem;
    font-weight: 400;
 }

.Client_row h4:nth-of-type(1){
    width: 30%;
    font-weight: 500;


}
.editClientName{

    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border-radius: 6px;

}

@media (max-width: 767px) {

    .Client_info_warp{
    
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Client_info_detail{
        position: relative;
        width: 100%;
        border: 1px solid black;
        min-height: 300px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 0px;
    }


    .Client_data{
        width: 100%;
        
    }

    .Client_row h4:nth-of-type(1){
        width: 25%;
        font-weight: 500;
        margin-right: 15px;
    
    
    }

}


.Client_info_record{
    width: 40%;
    padding: 30px;
    min-height: 240px;
  
}

@media (max-width: 767px) {


    .Client_info_record{
        width: 100%;
        padding: 30px;
        min-height: 240px;
        margin: 30px 0;
      
    }

    .record_row{
        justify-content: space-between;
        /* background-color: red; */
    }

   
}


.Client_Content_Warp{

    margin-top: 60px;
}
.Client_Content_title{

    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.Client_Content_title h4{
    cursor: pointer;
    margin: 0 30px;
    color: #aaaaaa;
    font-weight: 400;
}


.Client_Content_title h4:hover{
    transition: 0.8s;
    color:black
}

.title_up{

    color: black !important;

}

/* 客戶記錄 */
.Client_Content_Record{

    
}

/* 訂單記錄 */
.order_detail_content{
    /* display: none; */
}
.order_detail_list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    border-bottom:  solid 1px #dedede;
    padding: 0 20px;

}


.order_content{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.order_detail_head{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    width: 40%;

}

.order_detail_pic{
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: #e7e7e7;
    margin-right: 40px;
}

.order_detail_pic img{
    height: 100%;
    object-fit: cover;
}


.order_detail_name{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
   
}


.order_detail_name h3{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.order_detail_name h5{
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8c8c8c;

}

.order_detail_name h5:nth-of-type(2):before{
    content: '總共 NT$ ';
}



.order_detail_warp{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 40%;
    height: 100%;
   
}

.order_detail_status{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
   

}

.status_tag{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    
    

}

.S_tag01{
    background-color: #00d5a5;
    color: #fff;
}
.S_tag02{
    background-color:#ff7e7e;
    color: #fff;
}
.S_tag03{
    background-color: #7cafbf;
    color: #fff;
}
.S_tag04{
    background-color: #7cafbf;
    color: #fff;
}
.S_tag05{
    background-color: #aaaaaa;
    color: #fff;
}
.S_tag06{
    background-color: rgba(23, 34, 61, 0.1);
    color: rgba(0, 0, 0, 0.31);

}

.more_order{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
   
}

.more_order h5{
    cursor: pointer;
    position: relative;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #8c8c8c;

}

.more_order h5::after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: -15px;
    width: 10px;
    height: 10px;
    background-image: url('../images/right-arrow_grey.svg');
    background-size: contain;


}


.pagewarp{
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    
}

.pagewarp h5{
    position: absolute;
    left: 0;
    color: #8c8c8c;
}

.order_page{
    cursor: pointer;
    margin: 0 10px;
    color: #8c8c8c;
}
.order_page:hover{
    transition: 0.8s;
    color: black;
}


@media (max-width: 767px) {

    .Client_Content_Warp{

        margin-top: 0px;
        margin-bottom: 60px;
    
    }

    .more_order{
        display: none;
    }
    

    .order_detail_list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 120px;
        border-bottom:  solid 1px #dedede;
        padding: 0 5px;

    }
    .order_detail_head{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 100%;
        width: 80%;

    
    }

    .order_detail_pic{
        width: 80px;
        height: 80px;
        overflow: hidden;
        background-color: #e7e7e7;
        margin-right: 20px;
    }

    .order_detail_warp{

        width: 20%
    }

    .order_detail_status{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
       
    
    }
}


/* 公主幣紀錄  */
.coin_detail_content{
    display: none;
}

.editPoint_warp{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:  solid 1px #dedede;

}

.editPoint_btn{
    width: 160px;
    height: 35px;
    border-radius:6px;
    background-color: black;
    color: white;
    font-size: 1.6rem;

}

.fa-edit{
    margin-left: 10px;
}

.coin_detail_list{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  solid 1px #dedede;
    padding: 0 30px;
}

.coin_list_head{
    height: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    /* background-color: cyan; */
}

.coin_time_warp{
    margin-right: 60px;
}

.coin_time_warp h4{
    color: #8c8c8c;;
   
}

.coin_name_warp h5{
    color: #8c8c8c;;

}
.coin_name_warp h5 span{
    color: #e47f00;

}

.list_notice{
    color:#ff2d2d;
}

.addPoint{
    color: var(--sea_blue)
}

.minusPoint{
    color: rgba(0, 0, 0, 0.7);
}



@media (max-width: 767px) {

    .coin_detail_list{

        padding:  0 5px;
    }

    
    .coin_time_warp{

        margin-right: 10px;
    }

    .coin_name_warp{
        max-width: 190px;
    }

}

/* 集點紀錄 */
.point_detail_content{
    display: none;
}


.point_detail_list{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  solid 1px #dedede;
    padding: 0 30px;
}

.point_list_head{
    height: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    /* background-color: cyan; */
}

.point_time_warp{
    margin-right: 60px;
}

.point_time_warp h4{
    color: #8c8c8c;;
   
}

.point_name_warp h5{
    color: #8c8c8c;;

}

@media (max-width: 767px) {

    .point_detail_list{

        padding:  0 5px;
    }

    
    .point_time_warp{
        margin-right: 15px;
        
    }

    .point_name_warp{
        max-width: 190px;
    }

}
/* //////////填寫資料表格//////////// */
.checkout_info{
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.checkout_info_bg{
    width: 100%;
    height: 100%;
    position: relative;

}

.checkout_info_warp{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    min-width: 356px;
    max-width: 660px;
    height: 90%;
    max-height: 700px;
    background-color: white;
    box-shadow: 0 0 0 1920px rgba(23, 34, 61, 0.3);
    border-radius: 8px;
}

.checkout_info_top{
    position: relative;
    width: 100%;
    height: 10%;
    min-height: 60px;
    border-bottom: solid 1px  rgba(23, 34, 61, 0.5);
    font-size: 30px;
    color:rgba(23, 34, 61, 0.5);
}

.info_cancel{
    position: absolute;
    top: 25%;
    right: 3%;
    cursor: pointer;
}

.check_info_bottom{
    min-height: 100px;
    height: 15%;
    width: 100%;
    bottom: 0;
    border-top: solid 1px  rgba(23, 34, 61, 0.5);
}

.info_confirm{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    background-color: var(--dark_blue);
    color: white;
    font-size: 2rem;

}

.checkout_info_content{
    width: 100%;
    height: 75%;
    overflow: auto;
    padding: 50px
}

.Info_EditBox{
    border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
    margin-bottom: 40px;
}
.Info_EditBox h2{
    font-size: 2.2rem;
    margin-bottom: 20px;

}

.checkout_info_list{
    margin-bottom: 30px;
}

.checkout_info_list h3{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 12px;


}

.checkout_info_list input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding-left: 12px;



}

.checkout_info_list select{

    height: 50px;

}


.info_address_warp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout_more_warp{
    display: flex;
    justify-content: space-between;
}

.checkout_info_list select{
    width: 48%;
    border-radius: 8px;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    font-size: 1.6rem;
    padding-left: 10px;
    color: rgba(29, 30, 30, 0.55);

}

.select_store{
   display: none;
}


.checkout_sex{
    width: 15%;
   
}

.checkout_sex select{
    width: 100%;
}
.check_birthday{
    width: 80%;

}

@media (max-width: 1025px) {

    .checkout_info_warp{
        width: 95%;
        height: 90%;
    
    }


}

@media (max-width: 767px) {

    .checkout_info_warp{
        width: 95%;
        height: 90%;
    
    }

    .checkout_info_top{
        height: 8%;
        min-height: 40px;

    }

    .checkout_info_content{
        
        padding: 20px
    }
    

}