*{
    /* outline: solid var(--light_blue) 1px; */
}

/* ////////購物車 ////////*/
.Cart_page{
    margin-top: 180px;
    margin-bottom: 60px;
}

.Cart_page_title{
    margin-bottom: 30px;
}

.Cart_page_title h1{
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

}

.cart_table_top{
    display: flex;
  
    width: 100%;
    height: 60px;
    padding: 0 50px;
    background-color: rgba(23, 34, 61, 0.1);
    border-bottom: solid 3px rgba(23, 34, 61, 0.5);

}
.table_top{
    display: flex;
    align-items: center;
}

.table_top p{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}

.cart_item_name_top{
    width: 50%;
    height: 100%;
   
}
.cart_item_price_top{
    width: 12.5%;
    height: 100%;
}
.cart_item_count_top{
    width: 12.5%;
    height: 100%;
}  
.cart_item_total_top{
    width: 12.5%;
    height: 100%;
   
}
.cart_item_delete_top{
    width: 12.5%;
    height: 100%;
   
}

.cart_items_warps{
    width: 100%;
    min-height: 300px;
    overflow: auto;

}
.cart_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    color: var(--grey);
}

.cart_items{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 160px;
    padding: 0 50px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
   
}

.cart_item_title{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 50%;
    height: 100%;  
    
   
}
.cart_item_detail{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 50%;
    height: 100%;  
   
}

.cart_item_pic{
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-right: 20px;
   
}

.cart_item_name{
    
}
.cart_item_name h1{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.count_item_price{
    display: flex;
    align-items: center;
    width: 25%;
    
}

.count_item_price p{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;


}
.count_item_price p::before{
   content: 'NT ';
}
.cart_item_count{
    position: relative;
    width: 25%;
    
}
.count_left{
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var( --dark_red);

}
.count_left::before{
    content: '庫存： ';
}
.cart_item_total{
    width: 25%;
   
}
.cart_item_total p{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.cart_item_total p::before{
    content: 'NT ';
   
}
.cart_item_delete{
    width: 25%;
    
}

.cart_item_delete .fa-trash-alt{
    cursor: pointer;
    font-size: 20px;
    float: right;
    color:rgba(23, 34, 61, 0.5);
}
.cart_item_delete .fa-trash-alt:hover{
    transition: 0.5s;
    color:var( --dark_red);
}

@media (max-width: 1025px) {

    .cart_table_top{
        padding: 0 10px;

    }

    .cart_item_price_top{
        width: 15%;
        height: 100%;
    }
    .cart_item_count_top{
        width: 15%;
        height: 100%;
    }  
    .cart_item_total_top{
        width: 17%;
        height: 100%;
       
    }
    .cart_item_delete_top{
        width: 3%;
        height: 100%;
       
    }

    .cart_items{
        padding: 0 10px;

    }

    .cart_item_pic{
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin-right: 20px;
       
    }
    .cart_item_name{
        /* background-color: red; */
        width: 40%;
    }
    .count_item_price{
        width: 30%;
        
    }

    .cart_item_count{
        width: 30%;
        
    }
    .cart_item_total{
        width: 32%;
       
    }
    .cart_item_delete{
        width: 8%;
        
    }

    
    
}
@media (max-width: 767px) {
    .Cart_page_title{
        margin-bottom: 10px;
    }

   
    .cart_table_top{
        display: flex;
        width: 100%;
        height: 40px;
        padding: 0 0px;
        background-color: rgba(23, 34, 61, 0.1);
        border-bottom: solid 3px rgba(23, 34, 61, 0.5);
    }

    .table_top{
        display: none;
    }
    

    .cart_table_warp{
        margin: 0 auto;
    }
    .cart_items{
        display: flex;
        align-items: center;
        width: 100%;
        height: 160px;
        padding: 0 0px;
        border-bottom: solid 1px rgba(23, 34, 61, 0.5);
        
    }



    .cart_item_title{
        display: flex;
        
        align-items: flex-start;
        padding: 20px 10px;
        width: 100%;
        height: 100%;  
       
       
    }
    .cart_item_name{
        width: 150px;
       ;
    }
    .cart_item_name h1{
        font-size: 1.8em;
    }

    .cart_item_detail{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        position: absolute;
        /* background-color: red; */
        right: 0;
        bottom: 0;
        padding: 0px 10px 10px 0px;
        width: 56%;
        height:50%;
       
       
    }

    .count_item_price{
        display: none;
    }

    .cart_item_count{
        width: 100%;
        
        
    }

    .count_left{
        position: absolute;
        bottom: 3px;
        left: 120px;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var( --dark_red);
    
    }
    .cart_item_total{
        width: 100%;
        
    }
    .cart_item_delete{
       
        width: 100%;
        
    }

   
}

/* //////購物車運送、總計/////// */

/* 購物車總計*/
.cart_fee_warp{
    justify-content: space-between;
    margin-bottom: 60px;
}


.cart_fee_total_content{
    border: solid 1px rgba(23, 34, 61, 0.5);

}
.cart_fee_total_title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.1);
    border-bottom: solid 3px rgba(23, 34, 61, 0.5);

}

.cart_fee_total_title h1{
    margin-top: 5px;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.cart_fee_total_count{
    padding: 20px 50px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
   
}
.total_sum{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;

}
.total_sum p:nth-of-type(2)::before {
     content: 'NT ';
}

.total_fee{
    display: flex;
    justify-content: space-between;
}


.total_fee .fa-exclamation-circle{
    font-size: 20px;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.31);
    cursor: pointer;
    
}

.total_fee p:nth-of-type(2)::before {
    content: 'NT ';
    
}


.cart_fee_checkout{
    padding: 30px 50px;
}

.total_money{
    display: flex;
    justify-content: space-between;
    
}
.total_money p:nth-of-type(2)::before {
    content: 'NT ';
    
}

.cart_checkout_btn{
    margin-top: 60px;
    width: 100%;
    height: 50px;
    background-color: #5aa700;
    border-radius: 6px;
    font-size: 2rem;
    color:white;

}


/* 運費試算 */

.cart_fee_type_warp{
   
    
   
}
.cart_fee_type_title{
   
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.1);
    border-bottom: solid 3px rgba(23, 34, 61, 0.5);

}

.cart_fee_type_title h1{
    margin-top: 5px;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


.cart_fee_type_content{
    border: solid 1px rgba(23, 34, 61, 0.5);
    width: 100%;
   
}
.cart_member{
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
    padding: 20px 50px;
}
.cart_login_warp{
    justify-content:space-between;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 20px;
  

}

.cart_login_warp span{
    cursor: pointer;
}

.cart_login_warp p:nth-of-type(2){
    cursor: pointer;
    color: #4a90e2;
}

.cart_login_warp p:nth-of-type(2):hover{
    transition: 0.5s;
    color: var(--dark_red);
}

.cart_login_btn_warp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart_login_btn{
    display: flex;
  
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #000000;

}

.login_btn_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 50px;
    height: 50px;
}

.fb_login_icon{
    font-size: 25px;
    color: white;
    background-color: #384982;
}

.line_login_icon{
    
    background-color: #00d5a5;
}

.google_login_icon{
    font-size: 25px;
    color: white;
    background-color: #a42021;
}
.mail_login_icon{
    font-size: 25px;
    color: white;
    background-color: #000000;
}


.line_login_icon img{
    width:45%;

}

.login_btn_name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 1.6rem;
    color: black;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.cart_fee_type_select{
    padding: 30px 50px;
}

.cart_fee_address{
    margin-bottom: 30px;
    
}



.cart_fee_address p{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}

.fee_addres{
    border-radius: 8px;
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding:0px 10px;
}

.cart_fee_type p{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}

.fee_type_input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding-left: 10px;
    margin-bottom: 20px;
}
.fee_type_input label{
    margin-top: 5px;
   margin-left: 10px;
}


@media (max-width: 1025px) {

    .cart_fee_total_warp{
        margin: 60px auto 0px auto;

    }
    .cart_fee_total_title h1{
        
        margin-left: 10px;
        
    }

    .cart_fee_total_count{
        padding: 20px 15px;
        border-bottom: solid 1px rgba(23, 34, 61, 0.5);
       
    }
    
    .cart_fee_checkout{
        padding: 30px 15px;
    }
    
    .cart_fee_type_title h1{
        margin-top: 5px;
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }


    .cart_login_btn_warp{
        display: flex;
        justify-content:space-around;
        margin-bottom: 20px;
    

    }

    .cart_member{
        padding: 20px 15px;
    }

    .cart_fee_type_select{
        padding: 30px 15px;
    }
}
@media (max-width: 767px) {

    .cart_fee_total_warp{
        margin: 60px auto 0px auto;

    }
   

    .cart_fee_type_warp{
        margin: 0 auto;
    }

    .cart_fee_type_title h1{
        margin-top: 5px;
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }


    .cart_login_warp{
        flex-direction: column;
        justify-content:center;
        font-size: 1.8rem;
        margin-bottom: 20px;
        text-align: center;
      
    
    }

    .cart_member{
        
        padding: 20px 10px;
       

    }

    .cart_login_btn_warp{
        display: flex;
        /* background-color: red; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .cart_login_btn{
        margin-bottom: 20px;
    }

    .cart_fee_type_select{
        padding: 30px 20px;
    }
    

}




/*///////相關商品推薦/////// */

.Other_Product_Items{
    position: relative;
    background-color: rgba(23, 34, 61, 0.1);
    padding-top: 100px;
    padding-bottom: 60px;
    
    
}


.Other_Product_Items_title h1{
    
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;

}

.Items_categeroy_warp{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.item_type_warp{
    /* background-color: red; */
    width: 40%;
    min-width: 378px;
    height: 50px;
    border: solid 1px  rgba(23, 34, 61, 0.75);
    justify-content: space-evenly;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:var(--dark_blue);

    width: 25%;
    height: 100%;

}
.item_type:hover{
    transition: 0.3s;
    background-color:var(--dark_blue);
    color:white
}


.item_status_warp{
    /* background-color:red; */
    height: 50px;
    width: 30%;
    min-width: 283px;
    justify-content: space-evenly;
}

.item_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(56, 73, 130, 0.4);
    /* width: 33.33%; */
    height: 100%;
    border-bottom: 1px solid transparent;
    padding-top: 10px;
}
.item_status:hover{
    transition: 0.3s;
    border-bottom: 1px solid var(--dark_blue);
    color:var(--dark_blue);
}


.Other_Product_items_warp{
   
    opacity: 1
    /* transform: translateY(20px); */
}


  

  @media (max-width: 1025px) {

    .Other_Product_Items{
        position: relative;
        background-color: rgba(23, 34, 61, 0.1);
        padding-top: 60px;
        
        
    }
    

}
