
/* //////結帳步驟// */
.Checkout_Steps{
    margin-top: 140px;
}


.Checkout_Step_warp{
    position: relative;
    margin: 70px auto 80px auto;
    width: 500px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Checkout_Step_line{
    position: absolute;
    z-index: 20;
    left: 0;
    width: 0%;
    height: 2px;
    top: 20px;
    background-color: rgba(23, 34, 61, 0.75);
    transition: 2.5s;

}
.Checkout_Step_line_grey{
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    height: 2px;
    top: 20px;
    background-color: #dedede
}

.checkout_step{
    position: relative; 
    z-index: 21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.checkout_step_number{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #dedede;
    margin-bottom: 10px;
    color:white;
    font-size: 1.8rem;
}


.checkout_step_name p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dedede


}

.step_number01{
    background-color: var(--dark_blue);
}

.step_name01 p{

    color:var(--dark_blue);

}

.step01{
    transform: translate(-5px);
}
.step03{
    transform: translate(5px);
}


@media (max-width: 1025px) {


    .Checkout_Steps{
        margin-top: 50px;
        
    }


}
@media (max-width: 767px) {

    .Checkout_Steps{
        margin-top: 50px;
      
    }


    .Checkout_Step_warp{
        position: relative;
        margin: 70px auto 50px auto;
        width: 250px;
        min-height: 60px;
 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


/* 會員登入 */
.checkout_login_warp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    margin:0 auto 60px auto;
   
}

.checkout_login_text p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.checkout_login_text span{
    cursor: pointer;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding-bottom: 2px;
    margin: 0 5px ;
}

.checkout_login_text span:hover{
    transition: 0.8s;
    color: red;
    border-bottom: 1px solid red;
    
}

.check_logbtn{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: black;
    font-size: 2rem;
    color:white;
    transition: 0.8s;
}

.check_logbtn:hover{
    background-color: var(--light_blue);
}

@media (max-width: 1025px) {


}

@media (max-width: 767px) {

    .checkout_login_warp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        min-height: 50px;
        margin:0 auto 60px auto;

       
    }

    .checkout_login_text{
        margin-bottom: 20px;
    }


    .check_logbtn{
        width: 150px;
        height: 50px;
        border-radius: 8px;
        background-color: black;
        font-size: 2rem;
        color:white;
    }

}

/* 第一階端購物車 */
.Cart_step01{
    /* display: none; */
}

/* 第一階端購物車商品 */
.Cart_items_top_warp{
    min-height: 60px;
    padding: 0px 20px;
    display: flex;
    justify-items: center;
    border-top: solid 1px rgba(23, 34, 61, 0.2);

}


.item_top{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    
}

.item_top h2{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.item_head_top{
    width: 20%;
    height: 100%;
    
}

.item_top_detail{
    display: flex;
    width: 80%;
    height: 100%;
}

.item_name_top{
    width: 46%;
    height: 100%;

}

.item_count_top{
    width: 18%;
    height: 100%;
   

}
.item_prirce_top{
    width: 18%;
    height: 100%;


}

.item_delete_top{
    width: 18%;
    height: 100%;
  
}

@media (max-width: 1025px) {

    .Cart_items_top_warp{
        min-height: 50px;
        padding: 0px 10px;
        
    }
}

@media (max-width: 767px) {

    .Cart_items_top_warp{
        display: none;
        
    }
    

}


.Cart_items_empty{
    display: none;
    /* display: flex; */
    justify-items: center;
    align-items: center;
    height:300px;
    width:100%;
    
}

.Cart_items_empty p{
    font-size: 1.6rem;
    color:black;
    margin: 0 auto;
}

.Cart_items_content{
    width: 100%;
    min-height: 300px;
    margin: 0 0 60px 0px;
}

/* ////購物車規格///// */
.Items_warps{
    margin-bottom: 60px;
}

.Items_title{
    display: flex;
    padding: 0 20px; 
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.1);
}
.Items_title_name{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 100%;

    
}

.Item_check{
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.Items_title_name h2{
    margin-top: 2px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.Items_list{
    padding: 0 20px; 
    height: 160px;
    display: flex;
    border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
}

.Items_list_content{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.Items_list_head{
    width: 20%;
    height: 100%;

   
}

.Items_list_detail{
    display: flex;
    width: 80%;
}

.Items_name{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 46%;
    padding-right: 120px;
 

}

.Items_list_detail_tool{
    display: flex;
    width: 54%;
  
   

}

.count_warp{
    width: 100%;
    position: relative;
   
}
.Items_list_count{
   
    width: 33.3%;
    height: 100%;
    align-items: center;
   
}

.Item_left{
    
    position: absolute;
    bottom: -30px;
  
  
}

.Item_left h4{
    color: #a42021;
}

.Item_left h4::before{
    content: "庫存: ";
}



.Items_list_price{
    width: 33.3%;
    height: 100%;
   
    
}
.Items_list_delete{
    width: 33.3%;
    height: 100%;

   
   
}

.Items_pic{
    min-width: 120px;
    width: 120px;
    height: 120px;
    background-color: #dedede;
    overflow: hidden;
}

.Items_pic img{
    height: 100%;
    object-fit: cover;
    
}



.Items_type{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding:0px 10px;
    font-size: 1.6rem;
}

.Items_name h3{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.checkFishboxDetail p{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grey)

}

.checkFishboxDetail p:nth-of-type(2)::before{
    content: '選填: ';

}

.Items_list_price p{
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Items_list_price p::before{
    content: 'NT ';
   
}

.Items_list_delete{
    justify-content: center;
}

.Items_list_delete .fa-trash-alt{
    cursor: pointer;
    font-size: 20px;
    float: right;
    color:rgba(23, 34, 61, 0.5);
}

.Items_list_delete .fa-trash-alt:hover{
    transition: 0.5s;
    color:var( --dark_red);

    
}

@media (max-width: 1025px) {

    .Item_check{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .Items_title{
        display: flex;
        padding: 0 10px; 
        width: 100%;
        height: 60px;
        background-color: rgba(23, 34, 61, 0.1);
    }


    .Items_list{
        padding: 0 10px; 
        height: 160px;
        display: flex;
        border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
        /* max-width: 1100px; */
    }

    .Items_list_head{
        width: 24%;
        height: 100%;
      
       
    }
    
    .Items_list_detail{
        display: flex;
        width: 76%;
        
    }
    
    .Items_name{
        width: 46%;
        padding-right: 0px;

    
    }

    

    .Items_pic{
        min-width: 100px;
        width: 100px;
        height: 100px;
        background-color: #dedede;
    }

    .Items_type{
        margin-top: 0px;
        width: 90%;
        height: 30px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.31);
        padding:0px 10px;
        font-size: 1.6rem;
    }
    
    
    
}

@media (max-width: 767px) {

    .Cart_items_content{
        width: 100%;
        min-height: 300px;
        margin: 0 0 40px 0px;
    }

    .Item_check{
        min-width: 15px;
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }


    .Items_title{
        display: flex;
        padding: 0 0px; 
        width: 100%;
        height: 60px;
        background-color: rgba(23, 34, 61, 0.1);
    }




    .Items_list{
        padding: 0 0px; 
        height: 160px;
        display: flex;
        border-bottom:  solid 1px rgba(23, 34, 61, 0.5);
        /* max-width: 1100px; */
    }

    .Items_list_head{
        width: 35%;
        height: 100%;
      
       
    }

    .Items_list_detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;

    }

    .Items_name{
        width: 100%;
        padding-right: 0px;
        /* background-color: red; */
      
    
    }

    .Items_name h3{
       
        font-size: 1.6rem;
    }
    .Items_name p{
        font-size: 1.4rem;
    }

    .Items_list_detail_tool{
        display: flex;
        width: 100%;
        /* background-color: green; */
        /* max-height: 25px; */

    
    }

    .Items_list_count{
        width: 45%;
        height: 100%;
      
      
    }
    .Items_list_price{
        width: 45%;
        height: 100%;
 

        
    }
    .Items_list_price p{
        margin-top: 10px;
    }
    .Items_list_delete{
        width: 10%;
        height: 100%;

       
       
    }
    


    .Items_pic{
        min-width: 90px;
        width: 90px;
        height: 90px;
        background-color: #dedede;
    }

    .Items_type{
        margin-top: 0px;
        width: 90%;
        height: 30px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.31);
        padding:0px 10px;
        font-size: 1.6rem;
    }
    

}



/* 生鮮食材 */


/* 客製鮮魚箱 */
/* .fishbox_items_list{
    border-bottom:  solid 1px transparent;
} */

/* 第一階段購物車總金額 */
.Cart_total_content{
    display: flex;
}
.Cart_total{
    padding-bottom: 100px;
}



.Cart_total_caution li{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.Cart_total_caution li:nth-of-type(1){
    color:#ff2d2d;
}

.Cart_total_caution li::before{
    content: '- ';

}

/* ///// */

.Cart_total_warp{
    border: solid 1px rgba(23, 34, 61, 0.5);
    margin: 0 auto;

}

.cart_fee_total_count{
    padding: 20px 50px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
   
}
.total_sum{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;

}
.total_sum p:nth-of-type(2)::before {
     content: 'NT ';
}

.total_point{
    display: flex;
    justify-content: space-between;
}


.total_point .fa-exclamation-circle{
    font-size: 20px;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.31);
    cursor: pointer;
    
}

.total_point p:nth-of-type(2){
    display: flex;
    align-items: center;
    color:var(--orange)
}

.total_point p:nth-of-type(2)::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/money.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;

}

.total_coupon_text{
    margin-top: 30px;
}
.total_coupon_text p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(23, 34, 61, 0.5);

}

.cart_fee_checkout{
    padding: 30px 50px;
}

.total_money{
    display: flex;
    justify-content: space-between;
    
}
.total_money p:nth-of-type(2)::before {
    content: 'NT ';
    
}

.cart_checkout_btn{
    margin-top: 60px;
    width: 100%;
    height: 50px;
    background-color: #5aa700;
    border-radius: 6px;
    font-size: 2rem;
    color:white;

}


@media (max-width: 1025px) {

    .Cart_total_caution ul{
        padding-right: 20px;
    }

 

    .cart_fee_total_count{
        padding: 20px 15px;
        border-bottom: solid 1px rgba(23, 34, 61, 0.5);
       
    }
    
    .cart_fee_checkout{
        padding: 30px 15px;
    }
    
   
}


@media (max-width: 767px) {

    .Cart_total_content{
        display: flex;
        flex-direction: column-reverse;
    }

    .Cart_total{
        padding-bottom: 80px;
    }

    .Cart_total_warp{
        border: solid 1px rgba(23, 34, 61, 0.5);
        margin: 0px auto 40px auto;

    }





}

/*///////相關商品推薦/////// */

.Other_Product_Items{
    position: relative;
    background-color: rgba(23, 34, 61, 0.1);
    padding-top: 100px;
    padding-bottom: 60px;
    
    
}


.Other_Product_Items_title h1{
    
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;

}

.Items_categeroy_warp{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.item_type_warp{
    /* background-color: red; */
    width: 40%;
    min-width: 378px;
    height: 50px;
    border: solid 1px  rgba(23, 34, 61, 0.75);
    justify-content: space-evenly;

}

.item_type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:var(--dark_blue);

    width: 25%;
    height: 100%;

}
.item_type:hover{
    transition: 0.3s;
    background-color:var(--dark_blue);
    color:white
}


.item_status_warp{
    /* background-color:red; */
    height: 50px;
    width: 30%;
    min-width: 283px;
    justify-content: space-evenly;
}

.item_status{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(56, 73, 130, 0.4);
    /* width: 33.33%; */
    height: 100%;
    border-bottom: 1px solid transparent;
    padding-top: 10px;
}
.item_status:hover{
    transition: 0.3s;
    border-bottom: 1px solid var(--dark_blue);
    color:var(--dark_blue);
}


.Other_Product_items_warp{
    margin-top: 50px;
    opacity: 1
    /* transform: translateY(20px); */
}


  

  @media (max-width: 1025px) {

    .Other_Product_Items{
        position: relative;
        background-color: rgba(23, 34, 61, 0.1);
        padding-top: 60px;
        
        
    }
    

}


/* /////第二階段結帳頁////// */
.Checkout_step02{
    display: none;

}
.Checkout_content_warp{
    min-height: 840px;
}

.Checkout_warp{
    margin-bottom: 80px;
}

.checkout_title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.1);
    padding:  0 20px;
    margin: 0 0 20px 0;
}

.checkout_title h2{
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.checkout_content{
    display: flex;
    justify-content: space-between;

}

/* /////結帳金額/////// */
.checkout_items{
    /* margin: 0 auto; */
    width: 100%;
    /* border: solid 1px rgba(23, 34, 61, 0.5); */
}

.checkout_item_list_warp{
    padding: 40px 30px 0 30px;
    border:  solid 1px rgba(23, 34, 61, 0.5);

}

.checkout_item_list{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
   
}


.checkout_item_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout_item_pic{
    position: relative;
    width: 80px;
    height: 80px;
}

.checkout_item_pic_img{
    width: 100%;
    height: 100%;
    background-color: #eeee;
    overflow: hidden;
}

.checkout_item_pic_img img{
    height: 100%;
}

.checkout_item_count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgba(0, 165, 255, 0.85);
    font-size: 1.6rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  


}

.checkout_item_name{
    width: 160px;

}
.checkout_item_name p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.checkout_item_name p:nth-of-type(2){
    color: var(--light_blue)
}

.checkout_item_price p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000;
}

.checkout_item_price p::before{
    content: 'NT ';
}

.checkout_item_price_wrap{
    /* min-height: 200px; */
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
    border-right: solid 1px rgba(23, 34, 61, 0.5);
    border-left: solid 1px rgba(23, 34, 61, 0.5);
    padding: 40px 30px 40px 30px;
}

.item_price_total{
    display: flex;
    justify-content: space-between;
}

.item_price_total p:nth-of-type(2)::before{
    content: 'NT ';
}

.item_price_fee{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

}

.item_price_fee p:nth-of-type(2)::before{
    content: 'NT ';
}


@media (max-width: 1025px) {

    .checkout_item_pic{
        position: relative;
        width: 60px;
        height: 60px;
    }

    .checkout_item_name{
        width: 120px;
    }

    .checkout_item_list{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
       
    }

    .checkout_item_list_warp{
        padding: 20px 10px 0 10px;
        
    }

    .checkout_item_price_wrap{
        padding: 30px 20px 30px 20px;
    }

}

@media (max-width: 767px) {

    .checkout_content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
    }

    .checkout_items{
       margin-bottom: 40px;
        width: 100%;
        border: solid 1px rgba(23, 34, 61, 0.5);
    }

    .checkout_item_list_warp{
        padding: 40px 10px 0 10px;
        
    }

    .checkout_item_price_wrap{
        padding: 30px 20px 30px 20px;
    }
    

}


/* ////物流方式///// */
.checkout_method{
    border: solid 1px rgba(23, 34, 61, 0.5);
    padding: 40px 30px 0px 30px;

}

.cargo_list{
    margin-bottom: 40px;
}

.cargo_method select{
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
}


.checkout_method h3{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 12px;
}

.cargo_method select{
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    padding: 0 10px;
}

.cargo_date_input{
   display: flex;
   justify-content: space-between;
}

.cargo_date_input input{
    width: 48%;
    height: 50px;
    font-size: 1.6rem;
    padding: 0 10px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);


}
.nodate{
    display: flex;
    align-items: center;
    
}
.nodate p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.cargo_info_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:80px;
    border-radius: 8px;
    background-color: rgba(23, 34, 61, 0.05);
    padding: 20px 20px 20px 20px;
   
}


.cargo_info_text p{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* max-width: 300px; */
    /* width: 60%; */
    font-size: 1.8rem;
    font-weight: 350;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #000;
  


}



.cargo_info_edit{
    cursor: pointer;
    font-size: 20px;
    
}

.fishbox_edit{
    cursor: pointer;
    font-size: 20px;
    
}
.cargo_info_edit:hover{
    transition: 0.8s;
    color: var(--light_blue)
    
}


.cargo_other textarea{
    height: 100px;
    width: 100%;
    font-size: 1.8rem;
    border-radius: 8px;
     border: solid 1px rgba(0, 0, 0, 0.31);

   

}

@media (max-width: 1025px) {

    .cargo_info_text p{
        width: 85%;
        max-width: 238px;
        
    
    
    }

}
@media (max-width: 767px) {

    .cargo_info_text p{
      
        width: 80%;
        max-width: 230px;
    
    }

}

/* 填寫資料 */

.checkout_info{
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.checkout_info_bg{
    width: 100%;
    height: 100%;
    position: relative;

}

.checkout_info_warp{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    min-width: 356px;
    max-width: 660px;
    height: 90%;
    max-height: 700px;
    background-color: white;
    box-shadow: 0 0 0 1920px rgba(23, 34, 61, 0.3);
    border-radius: 8px;
}

.checkout_info_top{
    position: relative;
    width: 100%;
    height: 10%;
    min-height: 60px;
    border-bottom: solid 1px  rgba(23, 34, 61, 0.5);
    font-size: 30px;
    color:rgba(23, 34, 61, 0.5);
}

.info_cancel{
    position: absolute;
    top: 25%;
    right: 3%;
    cursor: pointer;
}

.check_info_bottom{
    min-height: 100px;
    height: 15%;
    width: 100%;
    bottom: 0;
    border-top: solid 1px  rgba(23, 34, 61, 0.5);
}

.info_confirm{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    background-color: var(--dark_blue);
    color: white;
    font-size: 2rem;

}

.checkout_info_content{
    width: 100%;
    height: 75%;
    overflow: auto;
    padding: 50px
}

.checkout_info_list{
    margin-bottom: 30px;
}

.checkout_info_list h3{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 12px;


}

.checkout_info_list input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding-left: 12px;



}
.info_address_warp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout_info_list select{
    width: 48%;
    border-radius: 8px;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    font-size: 1.6rem;
    padding-left: 10px;
    color: rgba(29, 30, 30, 0.55);

}

.select_store{
   display: none;
}



@media (max-width: 1025px) {

    .checkout_info_warp{
        width: 95%;
        height: 90%;
    
    }


}

@media (max-width: 767px) {

    .checkout_info_warp{
        width: 95%;
        height: 90%;
    
    }

    .checkout_info_top{
        height: 8%;
        min-height: 40px;

    }

    .checkout_info_content{
        
        padding: 20px
    }
    

}

/* 修改魚箱 */

.fishbox_select_wrap{
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.checkout_info_list span{
    color: red;
}


.fishbox_btn input{
    width: 15px;
    height: 15px;
    margin: 0px 10px 0  10px;
}

.fishbox_btn label{
    cursor: pointer;
    width: 160px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.31);
    border-radius: 8px;
    margin-right: 20px;

    font-size: 1.8rem;



}


.fishbox_btn p{
    margin: 0px 0 0 0 ;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.fishbox_pice_btn p::after{
   content: '元';
}

.checkout_info_list textarea{
   padding-left: 10px;
   padding-top: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.6rem;
    border: solid 1px rgba(0, 0, 0, 0.31);
  
   

}

@media (max-width: 1025px) {

    .checkout_info_list textarea{
        margin-top: 2px;
        width: 100%;
        height: 100px;
    
    }
}
@media (max-width: 767px) {

    .fishbox_btn label{
       width: 130px;
       margin-bottom: 15px;
    }
}








/* 付款方式 */

.Checkout_payment_warp{
    margin-bottom: 80px;
}
.Checkout_payment_title{
    width: 100%;
    height: 60px;
    background-color: rgba(23, 34, 61, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.Checkout_payment_title h2{
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.payment_content{
    display: flex;
    justify-content: space-between;
}

.total_price_content{
    background-color: rgba(23, 34, 61, 0.05);
}


.payment_detail_warp{
    padding: 40px 30px 0 30px;

}

.payment_detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.payment_detail p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}


.payment_detail p:nth-of-type(2)::before{
    content: 'NT ';
}

.fee_detail{
    position: relative;
}

.fee_detail_info{
   
    display: none;
    padding: 6px 10px 0 10px ;

    width: 250px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 25px;
    left: 40px;
    border: 1px solid var(--grey);
   

}


.fee_detail_info li{
    color: var(--grey);
    font-size: 1.4rem;
    list-style-type: square;
    margin-bottom: 3px;


}
.fee_detail .fa-exclamation-circle{
    cursor: pointer;
    color: var(--grey);
    margin-left: 10px;


}

/* .fee_detail p:nth-of-type(2){
    color: var(--grey);
    text-decoration: line-through;
} */

.fee_detail p:nth-of-type(2)::before{
    content: 'NT ';
}

.payment_discount p:nth-of-type(2){
    color: red;
}
.payment_discount p:nth-of-type(2)::before{
    content: '- NT ';
    
}


.final_total_price_warp{
    padding: 0px 30px 0 30px;
   
   
}

.final_total_price{
    padding: 30px 0; 
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(23, 34, 61, 0.5);

}

.final_total_price p{
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.final_total_price p:nth-of-type(2)::before{
    content: 'NT ';
}

.payment_caution{
    padding: 30px;
}

.payment_caution p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: rgba(29, 30, 30, 0.55);

}

@media (max-width: 1025px) {

}
@media (max-width: 767px) {

    .payment_content{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

}


.payment_method{
   
    max-height: 720px;
    border: solid 1px rgba(23, 34, 61, 0.5);
}

.payment_method h3{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.payment_method_warp{
    padding: 40px 30px 40px 30px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
}

.payment_coupon{
    margin-bottom: 40px;
}

.coupon_point{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.coupon_point p{
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: rgba(29, 30, 30, 0.55);

}

#select_coupon{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    background-color: white;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    border-radius: 8px;
}

.fishPoint_select{
    width: 15px;
    height: 15px;
    margin:0 10px;
}

.fishPoint_input{
    text-align: right;
    font-size: 1.4rem;
   margin-right: 10px;
    height: 100%;
    width: 100px;
    border: transparent;
}


.coupon_point_info p{
  
    font-size: 1.4rem;
}

.coupon_point_info p:nth-of-type(1)::before{

    content: "最大可使用 ";
}
.coupon_point_info p:nth-of-type(2){

    display: none;
} 

@media (max-width: 767px) {

    .coupon_point{
    
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        
    
    }

    .coupon_point p{
        margin-top: 3px;
        font-size: 1.4rem;
       
    
    }

    .coupon_point label{
        width: 100%;
        
    }


    .fishPoint_input{
        /* background-color: red; */
       
        font-size: 1.4rem;
   
        height: 100%;
        width: 55%;
        border: transparent;
    }


}


@media (max-width: 767px) {

    .coupun_select{
        margin-top: 10px;
        height: 50px;
        width: 100%;

    }


}

 

.payment_type{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding-left: 10px;
    font-size: 1.6rem;
   
}

.creditcard_detail_warp{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.creditcard_detail_warp input{
    padding-left: 10px;
    font-size: 1.6rem;
    width: 48%;
    height: 100%;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
}

.final_checkout{
    padding: 40px 40px 40px 40px;  
}
.join_menber{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}

.join_menber p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.final_checkout_btn{
    width: 100%;
    height: 50px;
    background-color: #5aa700;
    border-radius: 6px;
    font-size: 2rem;
    color:white;

}

@media (max-width: 767px) {
    .payment_method{
        margin-bottom: 40px;
    }

}

/* 第三階段完成頁 */
.FinishCheck_step03{
    display: none;
    min-height: 500px;
}

.sucess_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: rgba(23, 34, 61, 0.05);


}

.sucess_content .fa-check{
    font-size: 30px;
    color:  #5aa700;
    margin-bottom: 10px;
 

}
.sucess_content h3{
    font-size: 2.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
 

}
.sucess_content p{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(29, 30, 30, 0.55);
   
 
}

.sucess_content span{
    cursor: pointer;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding-bottom: 2px;
    margin: 0 5px ;
}

.sucess_content span:hover{
    transition: 0.8s;
    color: red;
    border-bottom: 1px solid red;
    
}