*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif,'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2; 
   
   
}

:root {
    font-size: 10px;
    --light_blue: rgba(0, 165, 255, 0.85);
    --dark_blue: #384982;
    --sea_blue: #abd5e3;
    --grey:  #c0c0c0;
    --dark_red: #a42021;
    --orange: #e47f00;
    
 
 }

 body a{
    color:inherit;
 }

 body a:hover {
    color:inherit;
    text-decoration: none;
}



 

p {
    font-size: 1.8rem;
    margin: 0px;
    padding: 0;
}



ul {
    color:inherit;
    text-decoration:none;
    margin-bottom: 0;
}

li{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}


img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

input{
    height: 50px;
    font-size: 1.6rem;
    padding-left: 10px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
}

select {
    outline: none;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.31);
    padding-left: 10px;
}

label{
    margin: 0;
}



/* ///////////動畫////////// */
.Bounce{
    animation: Bounce 0.6s linear forwards;
}


.FishJump{

    animation: jump 2.4s linear ;
}
.WaterOut{

    animation: waterOut 1.5s linear ;
}

.FishJumpRWD{

    animation: jumpRWD 1.1s linear;

}


  
.hithere {
    animation: hithere 1s ease ;
}
  


@keyframes Bounce{


    from { transform: translate(0,  0px) ;}
 
    50%  { transform: translate(0, -10px) ;}

    to   { transform: translate(0, 0px)  ;}  



}

@keyframes jump{


    0%{

        transform: translate(0px,0px) rotate(0deg);
        opacity: 1;

    }

    25%{

        transform: translate(-300px,-320px) rotate(-20deg);
    }

    50%{

        transform: translate(-600px,-400px) rotate(-50deg);

        opacity: 0.9;


    }
    75%{

        transform: translate(-900px,-380px) rotate(-80deg);

        opacity: 0.9;

    }
 
   
    100%{

        transform: translate(-1160px,-250px) rotate(-90deg);

        opacity: 0;
    } 

  

}

@keyframes jumpRWD{

    0%{
        transform: translate(-25px,-180px) rotate(-10deg);
        opacity: 1;

    }

    50%{

        transform: translate(-120px,-280px) rotate(-50deg);
        opacity: 0.9;

    }

    100%{

        transform: translate(-240px,-180px) rotate(-90deg);
        opacity: 0;

    }



}


@keyframes waterOut{


    from, to { transform: scale(1, 1); opacity: 1;}
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05);}
  100% {opacity: 0;}




}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}
  


.RWD_open{
    transition: 0.8s;
    transform: translateX(100%);
    
}

.RWD_listopen01{
    transition: 0.5s;
    height: 150px !important;
}
.RWD_listopen02{
    transition: 0.5s;
    height: 110px !important;
}

.RWD_navUp{
    transition: 0.8s;
    transform: rotate(180deg);
}


.RWD_open_shoplist{
    transition: 0.5s;
    transform: translateX(-100%);
  
    
}

.button_blue{
    transition: 0.5s;
    color: var(--light_blue);
}

.minus {
   
    transform: rotate(-90deg);
    transition: transform ease 400ms;
}

.minus::after {

    transform: rotate(-90deg) ;
    transition: transform ease 400ms;
}



/* ///////更多按鈕///////// */

.more_btn{
    width: 320px;
    height: 60px;
    background-color: var(--dark_blue);
    border-radius: 30px;
    cursor: pointer;

    
}

.more_btn:hover{
    transition: 0.5s;
    background-color: var(--light_blue)
}

.more_btn p{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: white;
    margin: 0 auto ;
    
}

@media (max-width: 1025px) {

    .more_btn{
        width: 250px;
        height: 50px;
        background-color: var(--dark_blue);
        border-radius: 30px;
        cursor: pointer;
    
        
    }
    
    .more_btn:hover{
        transition: 0.5s;
        background-color: var(--light_blue)
    }
    
    .more_btn p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: white;
        margin: 0 auto ;
        
    }
    
}
@media (max-width: 767px) {

    .more_btn{
        width: 250px;
        height: 50px;
        background-color: var(--dark_blue);
        border-radius: 30px;
        cursor: pointer;
    
        
    }
    
    .more_btn:hover{
        transition: 0.5s;
        background-color: var(--light_blue)
    }
    
    .more_btn p{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: white;
        margin: 0 auto ;
        
    }

    
    

}

/* ///////////商品外觀//////////////// */
.product{
   max-height: 400px;
   margin: 0px 0 30px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

}
.product_intro{
    cursor: pointer;
    position: relative;
    max-width: 252px;
    min-height: 360px;
    width: 90%;
    height: 90%;
    
}

.empty_product{
    opacity: 0.5;
}

.product_intro:hover{
    transition: 0.5s;
    box-shadow: 2px 6px 15px 0 rgba(173, 173, 173, 0.5);

}

.product_tag{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 25px;
    background-color: #d0021b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.product_pic{
    border-top:solid 0.1px rgba(173, 173, 173, 0.5);
    border-right:solid 0.1px rgba(173, 173, 173, 0.5);
    border-left:solid 0.1px rgba(173, 173, 173, 0.5);
    width: 100%;
    height: 70%;
    overflow: hidden;
    min-height: 252px;


}

.product_pic img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product_title{
    padding: 10px 15px;
    background-color:white;
    border:solid 0.1px rgba(173, 173, 173, 0.5);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product_title h3{
    
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
   

 }

.add_btn{
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--light_blue);
    border-radius: 100%;
    top: 53%;
    right: 3%;
}

.add_btn .fa-cart-plus{
    position: absolute;
    color: white;
    font-size: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
    
    
 }

 .product_detail{
    width: 60%;
    text-align: center;
    margin: 10px auto 0 auto;
 
}

.product_detail p{
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  
}

.S_price::before{
    content: 'NT ';

}
.S_price::after{
    content: '  / g';

}

.I_price::before{

    content: 'NT ';
}

.sold{
    color: rgba(0, 0, 0, 0.6)
    
}
  
 






@media (max-width: 1025px) {

     .product{
        max-height: 350px;
        margin: 0px 0 40px 0;
     }
     
     .product_intro{
        cursor: pointer;
        position: relative;
        max-width: 212px;
        min-height: 300px;
        width: 90%;
        height: 90%;
        
    }


    .product_pic{
        min-height: 212px;
        height: 70%;
    }


     .product_pic img{
         height: 100%;
        
     }
     .product_title{
         padding: 0px 10px;
         background-color:white;
         border:solid 0.1px rgba(173, 173, 173, 0.5);
         height: 30%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center
         
     }
     
     .product_title h3{
         
         font-size: 1.4rem;
         font-weight: 500;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
        
     
      }
    
    .add_btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--light_blue);
        border-radius: 100%;
        top: 52%;
        right: 3%;
    }
    
    .add_btn .fa-cart-plus{
        position: absolute;
        color: white;
        font-size: 2.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) 
        
        
     }
    
     .product_detail{
    
        width: 60%;
        text-align: center;
        margin: 10px auto 0 auto;
     
    }
    
    .product_detail p{
       
        font-size: 1.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        
    
      
      }

}

@media (max-width: 767px) {

     .product{
        max-height: 300px;
        margin: 0px 0 0px 0;
        
     }
     
     .product_intro{
        cursor: pointer;
        position: relative;
        max-width: 168px;
        min-height: 230px;
        width: 90%;
        height: 80%;
        
    }

    .product_tag{
       
        font-size: 1.4rem;
       
    }

    .product_pic {
        min-height: 168px;
        height: 70%;
    }

     .product_pic img{
         height: 100%;
        
     }
     .product_title{
         padding: 4px 8px;
         background-color:white;
         border:solid 0.1px rgba(173, 173, 173, 0.5);
         height: 30%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         min-height: 72px;
         
     }
     
     .product_title h3{
         
         font-size: 1.4rem;
         font-weight: 500;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
        
     
      }
    
    .add_btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--light_blue);
        border-radius: 100%;
        top: 48%;
        right: 2%;
    }
    
    .add_btn .fa-cart-plus{
        position: absolute;
        color: white;
        font-size: 2.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) 
        
        
     }
    
     .product_detail{
        width: 60%;
        text-align: center;
        margin: 10px auto 0 auto;
     
    }
    
    .product_detail p{
       
        font-size: 1.4rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        
    
    }
      
}



/* ///////////文章外觀//////////////// */

.Blog_artical{
    max-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
   
}

.Blog_artical_pic{
    overflow: hidden;
    width: 240px;
    height: 240px;
    background-color: #d8d8d8;
    cursor: pointer;
   
}

.Blog_artical_pic img{
    height: 100%;
    object-fit: cover;
  

}

.Blog_artical_title{
    cursor: pointer;
    margin-top: 5px;
    max-width: 240px;
    width: 90%;
   
    
    

}
.Blog_artical_title p{
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
}
.Blog_artical_title p:hover{
    transition: 0.8s;
    color: var(--light_blue);
}

.Blog_artical_author{
   
    margin: 0px 0px 10px 2px;
    min-width: 240px;
    width: 80%;
    display: flex;
    align-items: center;
   
}

.artical_author_pic{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

}

.artical_author_name{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #8c8c8c;
    transition: 0.8s;
    


}
.artical_author_name::before{
    content: '@';
}

.artical_author_name:hover{
    color: var(--light_blue)
}

.Blog_artical_tags{
    margin-top: 0px;
    display: flex;
    width: 240px;
    min-height: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
   
    


}

.artical_tag{
    min-width: 55px;
    max-height: 25px;
    margin: 0px 5px 8px 0;

}

.artical_tag_outline{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 25px;
    border: solid 1px var(--sea_blue);
    border-radius: 13px;
    transition: 0.8s;
   
    
}

.artical_tag_outline p{

    margin: -3px 12px;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: var(--sea_blue);
    transition: 0.8s;

}


@media (max-width: 1025px) {

    .Blog_artical_pic{
        min-width: 160px;
        width: 160px;
        height: 150px;
       
    }
    .Blog_artical{
        align-items: flex-start;
        max-height: 320px;
    }


    .Blog_artical_title{
        margin-top: 5px;
        max-width: 160px;
        width: 90%;
       
    }

    .Blog_artical_title p{
        font-size: 1.4rem;
    }

    .Blog_artical_author{
        margin-top: 3px;
        min-width: 160px;
        width: 60%;
        display: flex;
       
        align-items: center;
    }
    
   
    .artical_author_pic{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    
    }

    .Blog_artical_tags{
        width: 168px;
        min-height: 20px; 
        /* background-color: red; */
    }

    .artical_tag{
        min-width: 45px;
        max-height: 20px;
        margin: 0px 5px 8px 0;
    
    }
    
    .artical_tag_outline{
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 20px;
        border: solid 1px var(--sea_blue);
        border-radius: 13px;
       
        
    }
    
    .artical_tag_outline p{
        margin: -3.5px 8px;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.17;
        letter-spacing: normal;
        color: var(--sea_blue);
        transition: 0.8s;
    
    }
    
    

    
}
@media (max-width: 767px) {


    .Blog_artical{
        margin-top: 30px;
        min-height: 100%;
        align-items: center;
        max-height: 360px;
    
    }
    
    

    .Blog_title_icon{
        min-width: 40px;
        width: 40px;
        height: 40px;
        transform: translateY(8px);
       
    }

  

    .Blog_artical_pic{
        width: 95%;
        height: 220px;
        background-color: #d8d8d8;
    }

    .Blog_artical_title{
        margin-top: 5px;
        max-width: 95%;
        width: 95%;

       
    }
    .Blog_artical_author{
        width: 95%;
       
    }

    .Blog_artical_tags{
        width: 95%;
        min-height: 25px; 
        
    }

    .artical_tag{
      
        min-width: 50px;
        max-height: 25px;
        margin: 0px 5px 8px 0;
    
    }
    
    .artical_tag_outline{
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 25px;
        border: solid 1px var(--sea_blue);
        border-radius: 13px;
       
        
    }
    
    .artical_tag_outline p{
        margin: -3.5px 10px;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.17;
        letter-spacing: normal;
        color: var(--sea_blue);
        transition: 0.8s;
    
    }
   
}


/* 文章工具列 */
.Blog_tool{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 60px;
    padding-bottom: 20px;
    border-bottom: solid 1px #7cafbf;
    margin-bottom: 60px;
}


.Blog_tool_search{
    background-color: blue;
    width: 30%;
    height:100%; 
    max-height: 40px;
    border-radius: 40px;
    border: 1px solid #7cafbf;
    display: flex;
}

.search_input_warp{
    position: relative;
    width: 75%;
}
.search_input{
    width: 100%;
    height:100%;
    
    border-radius: 40px 0 0  40px;
    background-color: white;
    border: transparent;
    padding-left: 50px;
    font-size: 1.6rem;
    color:#7cafbf ;
}

.search_input_warp::before{
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-image: url('../images/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: contain;

}


.search_btn{
    cursor: pointer;
    padding-top: 8px;
    width: 25%;
    height: 100%;
    background-color: #7cafbf;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.Blog_tags{
    display: flex;
    min-height: 35px;
    width: 550px;
    justify-content: space-between;

   
    
}

.Blog_tags_warp{
    width: 500px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    /* padding-top: 3px; */
    transition: 0.5s;
    overflow: hidden;

}

.Blog_tags_content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}


.arrow_down{
    transition: 0.5s;
    transform: rotate(180deg);

}


.Blog_tags_warp .artical_tag{
    margin: 5px 5px 5px 0;
}


.Blog_more_tags{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    cursor: pointer;
}


.Blog_more_tags p{

    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7cafbf;



}

.Blog_more_tags p:hover{
    transition: 0.8s;
    color:#dc7e00;
}


.Blog_more_tags .fa-caret-down{
    margin-left: 5px;
}




@media (max-width: 1025px) {

    .Blog_tool_search{
        width: 35%;
        height:100%; 
        max-height: 40px;
        border-radius: 40px;
        border: 1px solid #7cafbf;
        display: flex;
    }


    .Blog_tags{
        display: flex;
        align-items: flex-start;
        min-height: 25px;
        width: 400px;
        justify-content: flex-end;
     
       
        
    }
    
    .Blog_tags_warp{
        padding-top: 5px;
        width: 350px;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        overflow: hidden;
        /* background-color: red; */
    
    }
    
  
    
    .Blog_more_tags{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50px;
        cursor: pointer;
    }
    
    
    
}
@media (max-width: 767px) {

    .Blog_tool{
        display: flex;
        justify-content: space-between;
        min-height: 60px;
        padding-bottom:3px;
        border-bottom: solid 1px #7cafbf;
        margin-bottom: 25px;
        flex-direction: column;
     
    }

    .Blog_tool_search{
        width: 100%;
        height:100%; 
        max-height: 40px;
        border-radius: 40px;
        border: 1px solid #7cafbf;
        display: flex;
    }

    .Blog_tags{
        margin-top: 20px;
        display: flex;
        min-height: 25px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        
        align-items: flex-end;
       
        
    }
    
    .Blog_tags_warp{
        width: 100%;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        overflow: hidden;
       
   
    
    }

    .Blog_tags_content{
        padding-left: 20px;
        /* background-color: red; */
 
        
    }
    
  
    
    .Blog_more_tags{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 45px;
        cursor: pointer;
       
    }

    .Blog_more_tags p{
        font-size: 1.4rem;
    }
   


}


/* 插入分頁 */
.pagination{
    display: flex;
    justify-content: center;
    
   
}

/* 分頁條 */
.paginationjs-pages ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* 分頁頁碼 */
.paginationjs-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: var(--dark_blue);
    font-size: 1.4rem;
    margin: 0 5px
}

/* 分頁頁碼往前  */
.paginationjs-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    
}

 /* 分頁頁碼往後  */
.paginationjs-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;

}


/* 當前頁面 */
.paginationjs-pages ul .active{
    background-color: var(--grey);
    color:white
}

/* 第一頁/最後一頁 */
.paginationjs-pages ul .disabled{
    color: var(--grey);
}

@media (max-width: 1025px) {

}
@media (max-width: 767px) {


    /* 分頁頁碼 */
    .paginationjs-page{
       
        width: 30px;
        height: 30px;
       
    }

    /* 分頁頁碼往前  */
    .paginationjs-prev{
       
        width: 30px;
        height: 30px;
        
    }

    /* 分頁頁碼往後  */
    .paginationjs-next{
   
        width: 30px;
        height: 30px;

    }

}