/* ////聯絡我們標題//// */
.ContactUs_title{
    position: relative;
    margin-top: 140px;
}


.contactUs_title_warp{
    width: 100%;
    height: 360px;
    background-image: url('../images/productbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

.contactUs_title_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}


.contactUs_content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUs_title_text{
   overflow: hidden;
    height: 50px;
}

.contactUs_title_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}



@media (max-width: 1024px) {

    .ContactUs_title{
        margin-top: 50px;
    }
    .contactUs_title_warp{
        width: 100%;
        height: 300px;
        background-image: url('../images/productbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }

}

@media (max-width: 768px) {

    .ContactUs_title{
        margin-top: 50px;
    }

    .contactUs_title_warp{
        width: 100%;
        height: 250px;
        background-image: url('../images/productbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }

}



/* ////聯絡我們介紹//// */

.ContactUs_intro{
    width: 100%;
    height: 300px;
    padding: 30px 150px ;
}

.ContactUs_intro_warp{
    width: 100%;
    height: 100%;
    border-top: solid 1px rgba(23, 34, 61, 0.75);
    border-bottom: solid 1px rgba(23, 34, 61, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;


}

.ContactUs_intro_warp p{
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  

}
@media (max-width: 1024px) {
    .ContactUs_intro{
        width: 100%;
        height: 300px;
        padding: 30px 10px ;
    }

}

@media (max-width: 768px) {

    .ContactUs_intro{
        width: 100%;
        height: 300px;
        padding: 30px 10px ;
    }

    .ContactUs_intro_warp p{
        font-size: 1.6rem;
        
      
    
    }

}

/*//// 聯絡我們按紐 /////*/

.social_btn_warp{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;

}

.contact_btn{
    cursor: pointer;
    width: 200px;
    margin: 0 12px;
    color: rgba(0, 0, 0, 0.7);
}

.contact_intro{
    margin: 15px auto;
    text-align: center;

}

.contact_intro h3{
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;


}

.contact_intro p{
   
    font-size: 1.8rem;
    font-weight: 350;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.line_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #00d5a5;
    border-radius: 100%;
    
}


.line_pic img{
    position: absolute;
    width: 45px;
    height: 45px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}


.fb_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #2ac3ea;
    border-radius: 100%;
    
}


.fb_pic .fa-facebook-f{
    color: white;
    position: absolute;
    width: 30px;
    height: 50px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}

.yt_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ff7e7e;
    border-radius: 100%;
    
}


.yt_pic .fa-youtube{
    color: white;
    position: absolute;
    width: 55px;
    height: 45px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}

.shoppee_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f9ac41;
    border-radius: 100%;
    
}


.shoppee_pic img{
    color: white;
    position: absolute;
    width: 50px;
    height: 45px;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) ;
}

.phone_pic{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #d084e4;
    border-radius: 100%;
}

.phone_pic .fa-phone-alt{
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%,-50%) ;
}



@media (max-width: 1024px) {


    .contact_btn{
        cursor: pointer;
        width: 150px;
        margin: 0 12px;
        color: rgba(0, 0, 0, 0.7);
    }

    

  

}
@media (max-width: 768px) {


    .contact_btn{
        cursor: pointer;
        width: 150px;
        margin: 0 12px;
        color: rgba(0, 0, 0, 0.7);
    }
    

    .line_pic{
        margin: 0 auto;
        position: relative;
        width: 90px;
        height: 90px;
        background-color: #00d5a5;
        border-radius: 100%;
        
    }
    
    
    .line_pic img{
        position: absolute;
        width: 45px;
        height: 45px;
        top:50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%,-50%) ;
    }

    .phone_pic{
        margin: 0 auto;
        position: relative;
        width: 90px;
        height: 90px;
        background-color: #d084e4;
        border-radius: 100%;
    }
    
    .phone_pic .fa-phone-alt{
        position: absolute;
        color: white;
        top:50%;
        left: 50%;
        font-size: 35px;
        transform: translate(-50%,-50%) ;
    }
    

   
   
}

/* //////聯絡我們地圖////// */

.contact_maps_warp{
    display: flex;
    justify-content: space-around;
   
}


.contact_map{
    height: 500px;
    margin-bottom: 100px;

}
.contact_map_pic{
    margin: 0 auto;
    width: 90%;
    height: 75%;
   
    
}


.contact_map_pic iframe{
    width: 100%;
    height: 100%;
}
.contact_map_pic .map{
    
    width: 100%;
    height: 100%;
}

.contact_map_content{
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 25%;
    

}

.map_content_title{
    
    height: 100%;
    width: 60%;
}

.map_content_title h3{
    margin-top: 40px;
   
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);

}
.map_content_title h4{
 
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);

}

.map_content_time{
   
    height: 100%;
    width: 40%;
}
.map_content_time p{
    margin-top: 40px;
    
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    border-left: 3px solid var(--sea_blue);

   
}


@media (max-width: 768px) {

    .contact_map{
        height: 500px;
        margin-bottom: 150px;
    
    }

    .map_content_title h3{
        margin-top: 40px;
       
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.7);
    
    }
    .map_content_title h4{
     
        font-size: 1.8rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.7);
    
    }
    
    .map_content_time{
       
        height: 100%;
        width: 40%;
    }
    .map_content_time p{
        margin-top: 40px;
        
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.7);
        padding-left: 15px;
        border-left: 3px solid var(--sea_blue);
    
       
    }
    


}


/* /////商業洽談///// */
.ContactUs_Bussines{
    margin-bottom: 80px;
}
.ContactUs_Bussines_warp{
    background-color: rgba(23, 34, 61, 0.05);
}

.ContactUs_Bussines_title{
    margin-top: 80px;
    margin-bottom: 90px;
}

.ContactUs_Bussines_title h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.ContactUs_Bussines_content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.Bussines_content_text{
    width: 40%;
}


.Bussines_social_btn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;

}

@media (max-width: 1024px) {
    
    .Bussines_social_btn{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 80px;
    
    }
    
}
@media (max-width: 768px) {

    .ContactUs_Bussines{
        margin-bottom: 80px;
        padding: 0 10px;
    }

    .ContactUs_Bussines_title{
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .ContactUs_Bussines_content{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;

    }

    .Bussines_content_text{
        margin: 0 auto;
        width: 95%;
    }

    .Bussines_social_btn{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 80px;
    
    }

}