/* ///////部落格首頁////// */
.Diary_title{
    margin-top: 140px;
    position: relative;
    width: 100%;
    height: 360px;
    background-image: url('../images/diary_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Diary_title_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #384982 ;
    
}

.Diary_title_text{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 50px;
     
}
.Diary_title_text h1{
    font-size: 3.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}


@media (max-width: 1025px) {

    .Diary_title{
        margin-top: 50px;
        height: 300px;
       
    }

}
@media (max-width: 767px) {

    .Diary_title{
        margin-top: 50px;

        height: 250px;
       
    }

}


/* //////主要文章/////// */

.Main_artical_page{
    width: 100%;
    overflow: hidden;
}

.main_artical{
    display: flex;
    position: relative;
    padding: 0;
    height: 480px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  
}
.main_artical_pic{
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding: 0;
    width: 50%;
    box-shadow: 4px 8px 20px 0 rgba(23, 34, 61, 0.2);
}

.main_artical_pic img{
    transform: translate(-80px,-60px);
    width: 140%; 
}


.main_artical_content{
    position: absolute;
    right: 0;
    height: 90%;
    width: 60%;
   
}

.main_artical_content_outline{
   
    position: relative;
    padding: 0;
    height: 100%;
    border-top: solid 4px  var(--sea_blue);
    border-bottom: solid 4px  var(--sea_blue);
    border-right: solid 4px  var(--sea_blue);

}

.read_more{
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 38%;
    margin: 0 auto;
    width: 300px;
    height: 60px;
    background-color: var(--sea_blue);
}

.read_more p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    text-align: center;
}


.main_artical_content_text{
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%,-50%);  
    width: 70%;
    
}
.main_artical_content_text h2{
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 20px;
}
.main_artical_content_text p{
    font-size: 1.6rem;
}

.main_artical_tags{
    
    width: 100%;
    max-width: 476px;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 1025px) {

    .main_artical{
        display: flex;
        position: relative;
        padding: 0;
        height: 300px;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
      
    }
    
    .main_artical_pic img{
        transform: translate(-20px,-30px);
        width: 120%; 
    }

   
    .main_artical_tags{
        margin-top: 40px;
    }

    .main_artical_content_text h2{
        font-size: 1.6rem;
        font-weight: 500;
        /* transform: translate(0px,10px); */
        margin-top: 5px;
    }

    .main_artical_content_text p{
        margin-top: 10px;
        font-size: 1.4rem;
    }
    

    .read_more{
        cursor: pointer;
        position: absolute;
        bottom: -18px;
        left: 42%;
        margin: 0 auto;
        width: 150px;
        height: 30px;
        background-color: var(--sea_blue);
    }
    
    .read_more p{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.33px;
        text-align: center;
    }
   

   
}

@media (max-width: 767px) {
 
    .Main_artical_page{
        display: none;
    }

}


/* 海上日誌文章 */
.Diary_articale{
    margin-top: 60px;
}

.Diary_content{
    min-height: 840px;
    
}

.Diary_content .Blog_artical{
   
    justify-content:flex-start;
    align-items: center;
}






/* /////////分頁條/////////// */
.Articale_page{
    height: 60px;
    margin: 60px 0px;
    display:flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 1025px) {
    .Articale_page{
        height: 60px;
        margin: 60px 0px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    }

}
@media (max-width: 767px) {

    .Articale_page{
        height: 60px;
        margin: 30px 0px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    }

}












