/* ///////導覽列////////// */
.Navbar{
    position:fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    max-height: 140px;
    /* background-color: rgba(255, 255, 255,0.8) */
    background-color: #ffff;

  


}
.navbar_tool{
    background-color: #ffff;
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--grey);
    /* background-color: red; */
}

.navbar_tool_warp{
    width: 70%;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_mediabtn_warp{
    max-height: 40px;
    /* background-color:red; */

}

.nav_mediabtn{
    cursor: pointer;
    width: 27px;
    height: 27px;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 15px;
    font-size: 10px;
    color: white;
}
.nav_mediabtn img{
    width: 45%;
}


.navbar_items{
   
    margin-top: 5px;
    max-height: 100px;
    width: 100%;
    font-size: 1.6rem;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-20px);
   
}

.navbar_items li {
    margin-top: 4px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar_items li:hover{ 
    transition: 0.5s;
    color: var(--light_blue);
    text-decoration: none;
}

.navbar_items .fa-angle-down{
    margin-left: 5px;
}

.navbar_Logo{
    margin-top: 5px;
     width: 140px;

}

.navbar_Logo img{
    width: 90%;
}

.navbar_icon_warp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
   
}


.navbar_icon_shoplist{
    /* margin-right: 20px; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95px;
    height: 33px;
    color:black;
    font-size:1.4rem;
    background-color: white;
    border-radius: 6px;
    border: solid 1px #c0c0c0;

    
}
.navbar_icon_shoplist:hover{
    transition: 0.5s;
    color: var(--light_blue);
    border: solid 1px var(--light_blue)

}

.navbar_shoplist_count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    top:-6px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f5a623;

}
.navbar_icon_member{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;

}

.navbar_icon_member:hover{
    transition: 0.5s;
    color: var(--light_blue);

}

.member_icon{
    position: relative;
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member_icon img{
    height: 100%;
    object-fit: cover;

}

.member_icon .fa-user-circle{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
}


/* /////選單////// */
.navbar_member_list_warp{
    display: none;
    position:absolute;
    top: 30px;
    width: 120px;
    min-height: 60px;
    box-shadow: 2px 2px 8px 0 rgba(173, 173, 173, 0.3);
    padding: 10px 0px;
    background-color: white;

}

.navbar_member_list{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.navbar_member_list:hover{
    transition: 0.8s;
    background-color: #dedede
}

.navbar_member_list p{
    margin-top: 9px;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;


}

.navbar_list_warp{
    display: none;
    position: absolute;
    width: 120px;
    top: 30px;
    min-height: 60px;
    left: -20px;
    background-color: white;
    padding: 10px 0px;
    box-shadow: 2px 2px 8px 0 rgba(173, 173, 173, 0.3);

}
.navbar_list{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;

}

.navbar_list:hover{
    transition: 0.8s;
    background-color: #dedede
}





.navbar_RWD_icon{
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('../images/icon-menu-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0;
}

.navbar_RWD_tool{
    display: none;
}
.navbar_RWD_items{
    display: none;
}

.shoplist_RWD{
    display: none;

}



@media (max-width: 1025px) {

    .Navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        max-height: 50px;
       
    }

    .navbar_tool{
        display: none;
    }
    

    .navbar_items{
        padding: 0 5px;
        margin-top: 2px;
        width: 100%;
        font-size: 1.8rem;
        justify-content: space-around;
        align-items: center;
        transform: translateX(0px);
        
    }


   .navbar_items li{
       display: none;
   }

   .navbar_RWD_icon{
        display: block;
        
       
        padding: 0;
    }

    .navbar_Logo{
        width: 80px;
        transform: translate(-5px);
   
   }

   .shoplist_RWD{
       display: block;
       position: relative;
       font-size: 2.8rem;
        
   }


    .shoplist_count_RWD{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        top:0px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #f5a623;

    }

     .navbar_RWD_items{
        display: flex;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: -100%;
        transition: 1s;
        
    }

    .navbar_RWD_bg{
        width: 100%;
        height: calc(100vh - 50px);
      
    }

    .navbar_RWD_BAR{
        position: absolute;
        width: 200px;
        height: calc(100vh - 50px);
        background-color: white;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    

    .icon_member_RWD{
        margin: 20px auto 12px auto;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 80px;
    }

    .member_name{
        text-align: center;
        border-bottom: 1px solid #dedede;
        padding-bottom: 6px;
    }

    .RWD_items{
        margin-top: 20px;
    }
    
    .RWD_items li{
        height: 30px;
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 1.7rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        overflow: hidden;
        transition: 0.5s;
        position: relative;

    }

    .RWD_items .fa-angle-down{
        transition: 0.8s;
        position: absolute;
        top: 6px;
        right: 50px;
    }


    .nav_listwarp_RWD01{
        width: 200px;
        height: 120px;
        background-color: #eeeeee;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.4) inset;

    } 

    .nav_listwarp_RWD02{
        width: 200px;
        height: 80px;
        background-color: #eeeeee;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.4) inset;

    } 

    .nav_list_RWD{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    
}

@media (max-width: 767px) {

    .Navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        max-height: 50px;
       
    }

    .navbar_tool{
        display: none;
    }
    

    .navbar_items{
        padding: 0 5px;
        margin-top: 2px;
        width: 100%;
        font-size: 1.8rem;
        justify-content: space-around;
        align-items: center;
        transform: translateX(0px);
        
    }


   .navbar_items li{
       display: none;
   }

   .navbar_RWD_icon{
        display: block;
        
        padding: 0;
    }

    .navbar_Logo{
        width: 80px;
        transform: translate(-5px);
   
   }

   .shoplist_RWD{
       display: block;
       position: relative;
       font-size: 2.8rem;
        
   }


    .shoplist_count_RWD{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        top:0px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 100%;

    }


    .navbar_RWD_items{
        display: flex;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: -100%;
        transition: 1.2s;
        
    }

    .navbar_RWD_bg{
        width: 100%;
        height: calc(100vh - 50px);
      
    }

    .navbar_RWD_BAR{
        position: absolute;
        width: 200px;
        height: calc(100vh - 50px);
        background-color: white;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    

    .icon_member_RWD{
        margin: 20px auto 12px auto;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 80px;
    }

    .member_name{
        text-align: center;
        border-bottom: 1px solid #dedede;
        padding-bottom: 6px;
    }

    .RWD_items{
        margin-top: 20px;
    }
    
    .RWD_items li{
        height: 30px;
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 1.7rem;
        font-weight: 350;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        overflow: hidden;
        transition: 0.5s;
        position: relative;

    }

    .RWD_items .fa-angle-down{
        transition: 0.8s;
        position: absolute;
        top: 6px;
        right: 50px;
    }


    .nav_listwarp_RWD01{
        width: 200px;
        height: 120px;
        background-color: #eeeeee;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.4) inset;

    } 

    .nav_listwarp_RWD02{
        width: 200px;
        height: 80px;
        background-color: #eeeeee;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.4) inset;

    } 

    .nav_list_RWD{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    
    



}

/* ////////購物車按鈕////////// */

.Cart_list{
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;

    
}

.Cart_bg{
    
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
}

.Cart_list_bar{
    position: absolute;
    width: 420px;
    height: 100vh;
    top: 0;
    right: 0px;
    background-color: white;
    padding: 50px 20px 0px 20px; 
    transition: 0.8s;
   

}

@media (max-width: 767px) {


    /* RWD購物車架構 */
    
    .Cart_list{
       
        display: block;
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 50px;
        right: -100%;
        /* right: 0; */
        height: calc(100vh - 50px);
        transition: 1.2s;

    }

    .Cart_bg{
        width: 100%;
        height: calc(100vh - 50px);
        background-color: transparent;
     
    }

    .Cart_list_bar .fa-times{
       display: none;
    }
    
    
    .Cart_list_bar{
        position: absolute;
        width: 300px;
        height: calc(100vh - 50px);
        top: 0px;
        right: 0px;
        background-color: white;
        padding: 20px 10px 0px 10px; 
        
    
    }

}




.Cart_list_warp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh; 
   
}
.Cart_list_bar .fa-times{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 21px;
    color: rgba(23, 34, 61, 0.5);
   
}

/* cookie商品內容 */
.list_item_warps{
    /* background-color: cyan; */
    overflow: auto;
    height: 70%;
    width: 100%;
  
}


/* 滾動條隱藏 */
.list_item_warps::-webkit-scrollbar { 
    width: 0 !important 
}

.list_item_warps{ 

    -ms-overflow-style: none; 
}

.list_item_warps{ 

    overflow: -moz-scrollbars-none; 
}

.product_list{
    min-height: 181px;
}

.product_list_title{
    height: 40px;
    width: 100%;
    background-color: rgba(23, 34, 61, 0.1);
    color:  rgba(0, 0, 0, 0.31);
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}

.product_list_title h3{
    margin-top: 5px;
    font-size: 1.8rem;

}

/* 空購物車狀態 */
.list_item_empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    display: none;

}

/* 購物車項目架構 */
.Cart_list_item{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(23, 34, 61, 0.5);
}

.Cart_list_item:last-child{
    border-bottom: solid 1px transparent;
}

.list_item_pic{
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.list_item_pic img{
    height: 100%;
    object-fit: cover;

}

.list_item_intro{
    overflow: hidden;
    width: 240px;
    margin-left: 25px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.list_item_title h1{
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}

.list_item_option{ 
    margin: 10px 0;
}
.list_item_option select{
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
}

.list_fishbox_detail{ 
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list_fishbox_detail p {
    font-size: 1.5rem;
    color: var(--grey)

}

.list_item_detail{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.7);
 
}

@media (max-width: 767px) {


    .list_item_warps{
        
        height: 60%;
        width: 100%;
       
    }
    
   
    .list_item_pic{
        overflow: hidden;
        width: 80px;
        height: 80px;
    }

    .list_item_title h1{
        font-size: 1.6rem;
        
    }
    
    .list_item_option select{
        width: 100%;
        height: 25px;
        font-size: 1.4rem;
    }
    .list_item_intro{
        overflow: hidden;
        width: 200px;
        min-height: 80px;
        margin-left: 10px
    }

    .list_item_option{ 
        margin: 5px 0;
    }
}

/* 計算器 */
.Counter{
    display: flex;
    align-items: center;
}
.countBtn{
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    border-radius: 100%;
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.countBtn_color{
    
    border: solid 1px rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
  
}

.countNum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 20px;

}


@media (max-width: 767px) {

    .countNum {
       
        margin: 0 10px;
    
    }

    .countBtn{
        
        width: 20px;
        height: 20px;
       
      
    }

    
}





/* 價錢 */
.list_intro_price h4{
    margin-right: 20px;
    margin-top: 3px;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.list_intro_price h4::before{
    content: 'NT ';
   
}

@media (max-width: 767px) {

    .list_intro_price h4{

        margin-right: 10px;



    }

}

/* 刪除按鈕 */
.item_delete{
    cursor: pointer;
    font-size: 18px;
    color: rgba(23, 34, 61, 0.5);

}
.item_delete:hover{
    transition: 0.8s;
    color: var(--dark_red)

}

/* 商品小計 */
.Cart_list_total{
    border-top: 2px solid rgba(23, 34, 61, 0.5);

    width: 100%;
   
}

.Cart_list_total p{
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;


}
.Cart_list_total p::before{
    content: '商品小計：NT ';
}


.checkout_btn{

    margin-top: 60px;
    width: 80%;
    height: 50px;
    background-color: var(--dark_blue);
    font-size: 2rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: 1px;
    color: white;
    border-radius: 6px;
   
}


@media (max-width: 767px) {

    .Cart_list_total{
        margin-top: 10px;
    }

    .checkout_btn{
        margin-top: 60px;
      
    }

}


